<h1>Tutorial - Creation of a Custom Stuff mod</h1>
<p>
In this part we're going to create a Custom Stuff mod. It is needed for all further steps.<br>
<br>
For every Custom Stuff mod you want to create you have to create a new folder in the 'mods' directory of your Minecraft installation which is the directory where you have all your other 'regular' mods.<br>
The name of the created directory is important at least for now. It must have the following format: CS2_[modId]. In the place of [modId] you use the id that your mod will have. This id, for example, 
is used when you have to reference a block or item inside your mod. It also have to be unique and it can't be changed at a later point. If it has the same id as another Custom Stuff or 'regular' mod you want to use, 
Minecraft will crash. The id may only contain letters and numbers.<br>
For the purpose of this tutorial name the directory 'CS2_Tutorial'.<br>
<br>
After you have created the directory, you have to run Minecraft in order to let Custom Stuff recognize your folder and create everything that is needed. When Minecraft is fully loaded, hit the quit button to close it again.<br>
If you now look at the directory you've just created, there should be various files and directories in it. That's the indication that you've done everything right and your mod is going to be loaded the next time you run Minecraft.<br>
<br>  
From now on you can change the directory's name to your needs. It won't affect the mod in any way, its id will not change anymore.<br>
<br>
Lets go through the main files and directories that have been created.<br>
<b>_customstuff</b>: This directory is only used for internal purposes. Do not edit anything in it.<br>
<b>assets</b>: This directory contains all texture and language files of your mod.<br>
<b>mcmod.info</b>: This file contains information about your mod such as a description or credits. It is used for the mod list.<br>
<b>mod.js</b>: This file contains the JavaScript code that will actually add your content to the game.<br>
<br>
In the following tutorials all paths and files mentioned are relative to the directory created in this tutorial if nothing else is said.<br>
<br>
Continue with: <a href="block.html">Creation of a block</a>
</p>