<h1>Tutorial - Introduction</h1>
<p>
This tutorial will give you an idea on how Custom Stuff works and how you will use it to create your own unique stuff to Minecraft.<br>
<br>
At this point Custom Stuff 2 should be installed correctly. You can check this by looking for an entry in the mods page from the Minecraft main menu.<br>
Go on with <a href="createMod.html">Create your first mod</a>
</p>
