<h1>Tutorial - Creation of an item</h1>
<p>
In this part we're going to add a platinum ingot.<br>
<br>
Let's create a platinum ingot item. Firstly, copy the <a href="textures/items/platinumIngot.png">platinumIngot.png</a> file to the <b>assets/tutorial/textures/items</b> directory.<br>
Now, create a file in the <b>item</b> directory for the attributes of the item. Name it
<b>platinumIngot.js</b> and add the following lines to it:
</p>
<div class="code">
	<span>
		name = "platinumIngot";<br>
		creativeTab = "materials";<br>
		maxStack = 64;<br>
		<br>
		addToCreative[0] = true;<br>
		textureFile[0] = "platinumIngot.png";
	</span>
</div>
<p>
Items can have up to 32 metadata versions (0 to 31). For example, you can have 32 different ingots in one item file. But notice that damageable items, like tools, can't have metadata versions.<br>
<br>
Add the following line to the en_US.lang file:
</p>
<div class="code">
	<span>
		item.platinumIngot0.name=Platinum Ingot
	</span>
</div>
<p>
And last but not least, add the item to the mod.js file:
</p>
<div class="code">
	<span>
		mod.addItem("platinumIngot.js", "normal");
	</span>
</div>
<p>
That's it. You'll find the ingot in the materials tab in the creative inventory.
<br>
Continue with: <a href="smeltRecipe.html">Adding a smelting recipe</a>
</p>