<h1>Tutorial - Creation of tools</h1>
<p>
In this part we're going to create a set of tools.<br>
<br>
Since tools are damageable, you have to create one file per tool. Also copy the following textures to the <b>assets/tutorial/textures/items</b> directory:
</p>
<ul>
	<li><a href="textures/items/platinumAxe.png">platinumAxe.png</a></li>
	<li><a href="textures/items/platinumHoe.png">platinumHoe.png</a></li>
	<li><a href="textures/items/platinumPickaxe.png">platinumPickaxe.png</a></li>
	<li><a href="textures/items/platinumShovel.png">platinumShovel.png</a></li>
	<li><a href="textures/items/platinumSword.png">platinumSword.png</a></li>
</ul>
<br>
<h3>Axe</h3>
<p>
Let's start with the axe. Create a file in the <b>items</b> directory and name it <b>platinumAxe.js</b>. Add the following lines to it:
</p>
<div class="code">
	<span>
		name = "platinumAxe";<br>
		creativeTab = "tools";<br>
		full3d = true;<br>
		toolClass = "axe";<br>
		harvestLevel = 3;<br>
		maxDamage = 200;<br>
		addToCreative[0] = true;<br>		
		damage = 2;<br>		
		efficiency[0] = 6.0;<br>		
		onHitEntity[0] = "itemstack.damageItem(2);";<br>
		onBlockDestroyed[0] = "itemstack.damageItem(1);";<br>
		textureFile[0] = "platinumAxe.png";<br>
	</span>
</div>
<p>
New attributes here are full3d, maxDamage, damage, efficiency, onHitEntity and onBlockDestroyed.<br>
</p>
<ul>
	<li>The 'full3d' attribute is set to true, so the item is rendered as a tool in the player's hand.</li>
	<li>The 'maxDamage' attribute defines the maximum damage the item can have, so it is its durability. Since the damage starts with 0, the tool has actually 201 uses.</li>
	<li>The 'damage' attribute defines the damage against mobs. The value is given in half hearts.</li>
	<li>The 'efficiency' attribute defines how fast the tool can harvest blocks. This only applied to blocks that it can actually break. For example, it is not applied to stone.</li>
	<li>The 'onHitEntity' and 'onBlockDestroyed' attributes are triggers that contain a script. This script is executed when the player hits an entity or destroys a block with the tool.</li>
</ul>
<p>
Add the following line to the en_US.lang file:
</p>
<div class="code">
	<span>
		item.platinumAxe0.name=Platinum Axe
	</span>
</div>
<br>
<hr>
<br>
<h3>Hoe</h3>
<p>
Create a file in the <b>items</b> directory and name it <b>platinumHoe.js</b>. Add the following lines to it:
</p>
<div class="code">
	<span>
		name = "platinumHoe";<br>
		addToCreative[0] = true;<br>
		creativeTab = "tools";<br>
		full3d = true;<br>
		maxDamage = 200;<br>
		onUse[0] = "if (world.getBlockName(position) == 'minecraft:dirt' || world.getBlockName(position) == 'minecraft:grass') { world.setBlock(position, 'minecraft:farmland'); itemstack.damageItem(1); }";<br>
		textureFile[0] = "platinumHoe.png";
	</span>
</div>
<p>
Add the following line to the en_US.lang file:
</p>
<div class="code">
	<span>
		item.platinumHoe0.name=Platinum Hoe
	</span>
</div>
<br>
<hr>
<br>
<h3>Pickaxe</h3>
<p>
Create a file in the <b>items</b> directory and name it <b>platinumPickaxe.js</b>. Add the following lines to it:
</p>
<div class="code">
	<span>
		name = "platinumPickaxe";<br>
		addToCreative[0] = true;<br>
		creativeTab = "tools";<br>
		damage = 2;<br>
		full3d = true;<br>
		toolClass = "pickaxe";<br>
		harvestLevel = 3;<br>
		efficiency[0] = 6.0;<br>
		maxDamage = 200;<br>
		onHitEntity[0] = "itemstack.damageItem(2);";<br>
		onBlockDestroyed[0] = "itemstack.damageItem(1);";<br>
		textureFile[0] = "platinumPickaxe.png";<br>
	</span>
</div>
<p>
Add the following line to the en_US.lang file:
</p>
<div class="code">
	<span>
		item.platinumPickaxe0.name=Platinum Pickaxe
	</span>
</div>
<br>
<hr>
<br>
<h3>Shovel</h3>
<p>
Create a file in the <b>items</b> directory and name it <b>platinumShovel.js</b>. Add the following lines to it:
</p>
<div class="code">
	<span>
		name = "platinumShovel";<br>
		addToCreative[0] = true;<br>
		creativeTab = "tools";<br>
		damage = 2;<br>
		full3d = true;<br>
		toolClass = "shovel";<br>
		efficiency[0] = 6.0;<br>
		maxDamage = 200;<br>
		onHitEntity[0] = "itemstack.damageItem(2);";<br>
		onBlockDestroyed[0] = "itemstack.damageItem(1);";<br>
		textureFile[0] = "platinumShovel.png";<br>
	</span>
</div>
<p>
Add the following line to the en_US.lang file:
</p>
<div class="code">
	<span>
		item.platinumShovel0.name=Platinum Shovel
	</span>
</div>
<br>
<hr>
<br>
<h3>Sword</h3>
<p>
Create a file in the <b>items</b> directory and name it <b>platinumSword.js</b>. Add the following lines to it:
</p>
<div class="code">
	<span>
		name = "platinumSword";<br>
		addToCreative[0] = true;<br>
		creativeTab = "combat";<br>
		damage = 10;<br>
		full3d = true;<br>
		efficiency[0] = 6.0;<br>
		maxDamage = 200;<br>
		onHitEntity[0] = "itemstack.damageItem(1);";<br>
		onBlockDestroyed[0] = "itemstack.damageItem(2);";<br>
		textureFile[0] = "platinumSword.png";<br>
	</span>
</div>
<p>
Add the following line to the en_US.lang file:
</p>
<div class="code">
	<span>
		item.platinumSword0.name=Platinum Sword
	</span>
</div>
<br>
<br>
<p>
Finally add the tools to your mod by adding the following lines to your mod.js file:
</p>
<div class="code">
	<span>
		mod.addItem("platinumAxe.js", "axe");<br>
		mod.addItem("platinumHoe.js", "normal");<br>
		mod.addItem("platinumPickaxe.js", "pickaxe");<br>
		mod.addItem("platinumShovel.js", "shovel");<br>
		mod.addItem("platinumSword.js", "sword");<br>
	</span>
</div>
<p>
To be continued...
</p>