<h1>Tutorial - Adding the block to the world generation</h1>
<p>
In this part we're going to add our platinum ore to the world generation.<br>
<br>
In order to add a block to the world generation, you have to create a file in the <b>worldGeneration</b> directory. Like the block file in the blocks directory, this file contains the attributes for the world generation.<br>
Name the file <b>platinumOre.js</b> and add the following lines to it:
</p>
<div class="code">
	<span>
		block = "Tutorial:platinumOre";<br>
		blockMeta = 0;<br>
		minHeight = 0;<br>
		maxHeight = 32;<br>
		generationsPerChunk = 10.5;<br>
		numberOfBlocks = 8;
	</span>
</div>
<p>
World generation attributes don't have any [0], so if you want to add multiple metadata versions of a block to the world 
generation, you have to create one file per metadata version. You can have multiple generations of the same block so you can, for example, have different vein sizes.<br></p>
<ul>
	<li>The 'block' attribute defines the block that is generated. 'Tutorial' is the id of the mod. 'platinumOre' is the name used in the block file.</li>	
	<li>The 'minHeight' and 'maxHeight' attributes define at what height the block will be generated.</li>
	<li>The 'generationsPerChunk' attribute defines how may generations are made in the defined height per chunk. 10.5 means
		that there are ten generations and with a chance of 50% eleven generations.</li>
	<li>The 'numberOfBlocks' attribute defines the number of blocks that are created per generation (per vein). For example, coal has a higher value than diamonds or iron.</li>
</ul>
<br>
<p>
The last thing to do is to add our world generation in the mod.js file. Add the following line to it:
</p>
<div class="code">
	<span>
		mod.addWorldGen("platinumOre.js", "ore");
	</span>
</div>
<p>
The first argument is the name of the world generation's file inside the worldGeneration directory.<br>
The second argument is the world generation's type. We want to generate a ore, so we choose 'ore'.<br>
<br>
That's it. Notice that the block is only generated in new worlds or in parts of an existing world that haven't been generated, yet.<br>
Continue with: <a href="item.html">Creation of an item</a>
</p>