<h1>GUI Attributes</h1>
<h2>burnDestY</h2>
<p>This attribute defines the destination y-position of the burn "animation".<br>
<img src="../images/gui.burnDest.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		burnDestY = 36;<br>
		<br>
		burnDestY = 65;
	</span>
</div>