<h1>GUI Attributes</h1>
<h2>burnSrcX</h2>
<p>This attribute defines the source x-position of the burn "animation".<br>
<img src="../images/gui.burnSrc.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		burnSrcX = 176;<br>
		<br>
		burnSrcX = 65;
	</span>
</div>