<h1>GUI Attributes</h1>
<h2>burnWidth</h2>
<p>This attribute defines the width of the burn "animation".<br>
<img src="../images/gui.burnWidth.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		burnWidth = 14;<br>
		<br>
		burnWidth = 12;
	</span>
</div>