<h1>GUI Attributes</h1>
<h2>burnSrcY</h2>
<p>This attribute defines the source y-position of the burn "animation".<br>
<img src="../images/gui.burnSrc.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		burnSrcY = 0;<br>
		<br>
		burnSrcY = 65;
	</span>
</div>