<h1>GUI Attributes</h1>
<h2>burnHeight</h2>
<p>This attribute defines the height of the burn "animation".<br>
<img src="../images/gui.burnHeight.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		burnHeight = 14;<br>
		<br>
		burnHeight = 12;
	</span>
</div>