<h1>GUI Attributes</h1>
<h2>burnDestX</h2>
<p>This attribute defines the destination x-position of the burn "animation".<br>
<img src="../images/gui.burnDest.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		burnDestX = 56;<br>
		<br>
		burnDestX = 65;
	</span>
</div>