<h1>GUI Attributes</h1>
<h2>chestY</h2>
<p>This attribute defines the y-position of the top left chest slot.<br>
<img src="../images/gui.chest.png" />
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		chestY = 18;<br>
		<br>
		chestY = 65;
	</span>
</div>