<h1>GUI Attributes</h1>
<h2>chestX</h2>
<p>This attribute defines the x-position of the top left chest slot.<br>
<img src="../images/gui.chest.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		chestX = 8;<br>
		<br>
		chestX = 65;
	</span>
</div>