<h1>GUI Attributes</h1>
<h2>colLength</h2>
<p>This attribute defines how many slots a column has or how many rows the grid has.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		colLength = 3;<br>
		<br>
		colLength = 2;
	</span>
</div>