<h1>GUI Attributes</h1>
<h2>cookWidth</h2>
<p>This attribute defines the width of the cook "animation".<br>
<img src="../images/gui.cookWidth.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		cookWidth = 24;<br>
		<br>
		cookWidth = 12;
	</span>
</div>