<h1>GUI Attributes</h1>
<h2>cookDestY</h2>
<p>This attribute defines the destination y-position of the cook "animation".<br>
<img src="../images/gui.cookDest.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		cookDestY = 34;<br>
		<br>
		cookDestY = 65;
	</span>
</div>