<h1>GUI Attributes</h1>
<h2>cookSrcX</h2>
<p>This attribute defines the source x-position of the cook "animation".<br>
<img src="../images/gui.cookSrc.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		cookSrcX = 176;<br>
		<br>
		cookSrcX = 65;
	</span>
</div>