<h1>GUI Attributes</h1>
<h2>cookDestX</h2>
<p>This attribute defines the destination x-position of the cook "animation".<br>
<img src="../images/gui.cookDest.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		cookDestX = 79;<br>
		<br>
		cookDestX = 65;
	</span>
</div>