<h1>GUI Attributes</h1>
<h2>cookHeight</h2>
<p>This attribute defines the height of the cook "animation".<br>
<img src="../images/gui.cookHeight.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		cookHeight = 16;<br>
		<br>
		cookHeight = 12;
	</span>
</div>