<h1>GUI Attributes</h1>
<h2>cookSrcY</h2>
<p>This attribute defines the source y-position of the cook "animation".<br>
<img src="../images/gui.cookSrc.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		cookSrcY = 14;<br>
		<br>
		cookSrcY = 65;
	</span>
</div>