<h1>GUI Attributes</h1>
<h2>craftingY</h2>
<p>This attribute defines the y-position of the top left crafting slot.<br>
<img src="../images/gui.crafting.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		craftingY = 17;<br>
		<br>
		craftingY = 65;
	</span>
</div>