<h1>GUI Attributes</h1>
<h2>craftingX</h2>
<p>This attribute defines the x-position of the top left crafting slot.<br>
<img src="../images/gui.crafting.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		craftingX = 30;<br>
		<br>
		craftingX = 65;
	</span>
</div>