<h1>GUI Attributes</h1>
<h2>fuelY</h2>
<p>This attribute defines the y-position of the fuel slot.<br>
<img src="../images/gui.fuel.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		fuelY = 53;<br>
		<br>
		fuelY = 65;
	</span>
</div>