<h1>GUI Attributes</h1>
<h2>fuelX</h2>
<p>This attribute defines the x-position of the fuel slot.<br>
<img src="../images/gui.fuel.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>	
		// Default value<br>
		fuelX = 56;<br>
		<br>
		fuelX = 65;
	</span>
</div>