<h1>GUI Attributes</h1>
<h2>guiFile</h2>
<p>This attribute defines the image file for the gui. An example of such a gui file is the gui/furnace.png in the minecraft.jar.
 If you want to use gui files from the minecraft.jar or from other mods, the given value has to start with a '/'.
 If the given value doesn't start with a '/', it will use the gui file from the mod's texture directory (the directory
 with the same name as the mod's directory). Texture files for this attribute go into the textures/guis directory of your mod.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value furnace<br>
		// uses the furnace.png from the minecraft.jar<br>
		guiFile = "/gui/furnace.png";<br>
		<br>
		// Default value crafting table<br>
		guiFile = "/gui/crafting.png";<br>
		<br>
		// Default value chest<br>
		guiFile = "/gui/container.png";<br>
		<br>
		// uses the myGui.png from the texture directory of your mod<br>
		guiFile = "myGui.png";<br>
	</span>
</div> 