<h1>GUI Attributes</h1>
<h2>height</h2>
<p>This attribute defines the height of the gui. This is not the height of the gui file which is always 256.<br>
<img src="../images/gui.height.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		height = 166;<br>
		<br>
		// Default value chest<br>
		height = 222;<br>
		<br>
		height = 150;
	</span>
</div>