<h1>GUI Attributes</h1>
<h2>inputX</h2>
<p>This attribute defines the x-position of the input slot.<br>
<img src="../images/gui.input.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		inputX = 56;<br>
		<br>
		inputX = 65;
	</span>
</div>