<h1>GUI Attributes</h1>
<h2>inputY</h2>
<p>This attribute defines the y-position of the input slot.<br>
<img src="../images/gui.input.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		inputY = 17;<br>
		<br>
		inputY = 65;
	</span>
</div>