<h1>GUI Attributes</h1>
<h2>inventoryY</h2>
<p>This attribute defines the y-position of the top left inventory slot.<br>
<img src="../images/gui.inventory.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		inventoryY = 84;<br>
		<br>
		// Default value chest<br>
		inventoryY = 140;<br>
		<br>
		inventoryY = 65;
	</span>
</div>