<h1>GUI Attributes</h1>
<h2>inventoryX</h2>
<p>This attribute defines the x-position of the top left inventory slot.<br>
<img src="../images/gui.inventory.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		inventoryX = 8;<br>
		<br>
		inventoryX = 65;
	</span>
</div>