<h1>GUI Attributes</h1>
<h2>name</h2>
<p>This attribute defines the unique name of the gui. It is used in the player.openGui() function.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		name = "myNewChest";<br>
		<br>
		name = "myNewFurnace";
	</span>
</div>