<h1>Block Attributes</h1>
<h2>onActivated</h2>
<p>This attribute defines the script that is executed every render tick. This is only called on the client, so don't do anything else than drawing stuff.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onDraw = "renderer.drawString('Hello!', 0, 0, 0x000000);";<br>
	</span>
</div>