<h1>GUI Attributes</h1>
<h2>resultY</h2>
<p>This attribute defines the y-position of the result slot of the furnace or crafting table.<br>
<img src="../images/gui.result.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		resultY = 35;<br>
		<br>
		resultY = 65;
	</span>
</div>