<h1>GUI Attributes</h1>
<h2>resultX</h2>
<p>This attribute defines the x-position of the result slot of the furnace or crafting table.<br>
<img src="../images/gui.result.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value furnace<br>
		resultX = 116;<br>
		<br>
		// Default value crafting table<br>
		resultX = 124;<br>
		<br>
		resultX = 65;
	</span>
</div>