<h1>GUI Attributes</h1>
<h2>rowLength</h2>
<p>This attribute defines how many slots a row has or how many columns the grid has.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		rowLength = 3;<br>
		<br>
		rowLength = 2;
	</span>
</div>