<h1>GUI Attributes</h1>
<h2>stringX</h2>
<p>This attribute defines the x-position of the string.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		stringX[0] = 0;<br>
		// ...<br>
		stringX[15] = 0<br>
		<br>
		stringX[0] = 5;<br>
		<br>
		stringX[15] = 26;
	</span>
</div>