<h1>GUI Attributes</h1>
<h2>stringY</h2>
<p>This attribute defines the y-position of the string.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		stringY[0] = 0;<br>
		// ...<br>
		stringY[15] = 0<br>
		<br>
		stringY = 5;<br>
		<br>
		stringY = 26;
	</span>
</div>