<h1>GUI Attributes</h1>
<h2>stringText</h2>
<p>This attribute defines the text of the string.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		stringText = "Inventory";<br>
		<br>
		stringText = "Furnace";
	</span>
</div>