<h1>GUI Attributes</h1>
<h2>stringColor</h2>
<p>This attribute defines the color of the string.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		stringColor[0] = "404040";<br>
		// ...<br>
		stringColor[15] = "404040";<br>
		<br>
		stringColor[0] = "FFF";<br>
		<br>
		stringColor[15] = "F00";
	</span>
</div>