<h1>GUI Attributes</h1>
<h2>usedRecipeLists</h2>
<p>This attribute defines which recipe lists the crafting table uses. The recipe list is the first argument of the mod.addRecipeFor()  or mod.addShapelessRecipeFor() function.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		// Uses vanilla recipes only. That means every recipe that works in the vanilla crafting table.<br>
		usedRecipeLists = "vanilla";<br>
		<br>
		usedRecipeLists = "myCraftRecipes1, myCraftRecipes2";
	</span>
</div>