<h1>GUI Attributes</h1>
<h2>width</h2>
<p>This attribute defines the width of the gui. This is not the width of the gui file which is always 256.<br>
<img src="../images/gui.width.png">
</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		width = 176;<br>
		<br>
		width = 150;
	</span>
</div>