<h1>Item Attributes</h1>
<h2>addToCreative</h2>
<p>This attribute defines whether the item is added to the creative inventory or not.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		addToCreative[0] = false;<br>
		// ...<br>
		addToCreative[31] = false;<br>
		<br>
		addToCreative[13] = true;<br>		
	</span>
</div>