<h1>Item Attributes</h1>
<h2>alwaysEdible</h2>
<p>This attribute defines whether the food item can be used if the hunger bar is full.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		// The item can also be used when the hunger bar is full.<br>
		alwaysEdible[0] = true;<br>
		// ...<br>
		alwaysEdible[31] = true;<br>
		<br>
		// The item can only be used when the hunger bar isn't full.<br>
		alwaysEdible[15] = false;<br>		
	</span>
</div> 