<h1>Item Attributes</h1>
<h2>anvilMaterial</h2>
<p>This attribute defines the item that can be used in an anvil to repair the item.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		anvilMaterial = "minecraft:iron_ingot";<br>
		<br>
	</span>
</div>