<h1>Item Attributes</h1>
<h2>armorTexture</h2>
<p>This attribute defines the texture of the armor when wearing it. If the value of this attribute
 starts with a '/', the texture is loaded from minecraft.jar.
 If it doesn't start with a '/', the texture is loaded from the mod's texture directory. For a whole
 armor (helmet, plate, legs and boots) you need two texture files. One is for the helmet, plate and boots
 and one is for the legs. Examples for those textures can be found in the minecraft.jar/assets/minecraft/textures/models/armor directory.
 The files that end with '_1' are for the helmet, plate and boots and the ones that end with '_2' are for the legs.
 If you want to make for example an armor set that looks exactly like the golden armor set, you have to set
 this attribute to "/gold_1.png" for the helmet, plate and boots and "/gold_2.png" for the legs.
 Texture files for this attribute go into the assets/{mod name}/textures/models/armor directory of your mod.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Uses textures/armor/tin_1.png from the mod's directory.<br />
		armorTexture = "tin_1.png;<br />
		<br />
		// Uses iron_2.png from the minecraft.jar.<br />
		armorTexture = "/armor/iron_2.png";<br />		
	</span>
</div>