<h1>Item Attributes</h1>
<h2>armorType</h2>
<p>This attributes defines whether the armor item is a helmet, a plate, legs or boots.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		armorType = "helmet;<br>
		<br>
		armorType = "plate;<br>
		<br>
		armorType = "legs;<br>
		<br>
		armorType = "boots;<br>	
	</span>
</div>