<h1>Item Attributes</h1>
<h2>containerItem</h2>
<p>This attribute defines the item's container item. The container item remains after the item is used for crafting. For example, the container item of a water bucket is an empty bucket.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// The container item is a stack of two wooden planks<br />
		containerItem = "minecraft:planks 2";<br />
		<br />
		// The container item is a stone block<br />
		containerItem = "minecraft:stone";<br />
	</span>
</div>