<h1>Item Attributes</h1>
<h2>creativeTab</h2>
<p>This attribute defines to what creative tab the item is added. It can be set to a vanilla creative tab or to a custom creative tab created with mod.addCreativeTab().<br />
Vanilla creative tabs:
<ul>
<li>brewing</li>
<li>buildingBlocks</li>
<li>combat</li>
<li>decorations</li>
<li>food</li>
<li>materials</li>
<li>misc</li>
<li>redstone</li>
<li>tools</li>
<li>transportation</li>
</ul>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value food<br>
		creativeTab = "food";<br />
		<br />
		// Default value armor and sword<br>
		creativeTab = "combat";<br />
		<br>
		// Default value axe, pickaxe and shovel
		creativeTab = "tools";<br />
	</span>
</div>