<h1>Item Attributes</h1>
<h2>damage</h2>
<p>This attribute defines how many additional half hearts is inflicted to any kind of entity (monsters, creatures, players) when hitting them with the item.<br>
Some vanilla values:
<ul>
<li>wooden sword: 5</li>
<li>diamond sword: 6</li>
<li>diamond pickaxe: 4</li>
<li>all normal items: 0</li>
</ul>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		damage = 0;<br>
		<br>
		damage = 7;<br>
		<br>
		damage = 2;<br>
	</span>
</div>