<h1>Item Attributes</h1>
<h2>effectiveBlocks</h2>
<p>This attribute defines the blocks that the item is effective against. For example an axe is effective against logs and planks and a pickaxe is effective against stone and ores. All blocks that can't be mined with hands (for example stone) have also be defined for the harvestBlocks attribute or it won't work.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// The item is effective against logs and wooden planks.<br />
		effectiveBlocks = "minecraft:log, minecraft:planks";<br />
		<br />
		// The item is effective against white wool.<br />
		effectiveBlocks = "minecraft:wool:0";<br />
	</span>
</div>