<h1>Item Attributes</h1>
<h2>efficiency</h2>
<p>This attribute defines how fast the item can mine blocks that are defined for the effectiveBlocks attribute or that are registered for the item's toolClass.<br />
Some vanilla efficiencies:</p>
<table border="1">
	<tr>
		<th>Item</th>
		<th>Efficiency</th>
	</tr>
	<tr>
		<td>Wooden Pickaxe</td>
		<td>2.0</td>
	</tr>
	<tr>
		<td>Stone Pickaxe</td>
		<td>4.0</td>
	</tr>
	<tr>
		<td>Iron Pickaxe</td>
		<td>6.0</td>
	</tr>
	<tr>
		<td>Diamond Pickaxe</td>
		<td>8.0</td>
	</tr>
	<tr>
		<td>Gold Pickaxe</td>
		<td>12.0</td>
	</tr>
</table>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		efficiency[0] = 1.0;<br>
		// ...<br>
		efficiency[31] = 1.0;<br>
		<br>
		efficiency[0] = 9.4;<br>
		<br>
		efficiency[24] = 3.7;<br>
	</span>
</div>