<h1>Item Attributes</h1>
<h2>enchantability</h2>
<p>This attribute defines how enchantable the item is. For example gold armor is more enchantable than diamond armor.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		enchantability = 0;<br>
		<br>
		enchantability = 10;<br>
		<br>
		enchantability = 3;<br>
	</span>
</div>