<h1>Item Attributes</h1>
<h2>fallProof</h2>
<p>This attribute defines whether the armor item makes the player that is wearing it resistant from fall damage.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		fallProof = true;<br>
		<br>
		// Default value<br>
		fallProof = false;<br>
	</span>
</div>