<h1>Item Attributes</h1>
<h2>fireProof</h2>
<p>This attribute defines whether the armor item makes the player that is wearing it resistant to fire and lava.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		fireProof = true;<br>
		<br>
		// Default value<br>
		fireProof = false;<br>
	</span>
</div>