<h1>Item Attributes</h1>
<h2>fluid</h2>
<p>This attribute is only used by buckets. It defines the bucket's fluid.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		fluid = "MyMod:myfluid";<br />
	</span>
</div>