<h1>Item Attributes</h1>
<h2>full3d</h2>
<p>This attribute defines how the item is rendered in the player's hands.<br>
	true:<br>
	<img src="../images/item.full3d.true.png" /><br>
	false:<br>
	<img src="../images/item.full3d.false.png" />
</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value axe, pickaxe, shovel and sword
		full3d = true;<br>
		<br>
		// Default value<br>
		full3d = false;<br>
	</span>
</div>