<h1>Item Attributes</h1>
<h2>harvestBlocks</h2>
<p>This attribute defines which blocks the item can harvest. Blocks that can be harvested with hands can also be harvested with any item, so they haven't to be specified here. Blocks specified here can only harvested at normal speed. If the efficiency of the item should affect the speed, you also have to specify the blocks for efficiencyBlocks.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// The item can harvest stone<br />
		harvestBlocks = "minecraft:stone";<br />
		<br />
		// The item can harvest stone, gold ore, iron ore and coal ore<br />
		harvestBlocks = "minecraft:stone, minecraft:gold_ore, minecraft:iron_ore, minecraft:coal_ore";<br />
	</span>
</div>