<h1>Item Attributes</h1>
<h2>harvestLevel</h2>
<p>This attribute defines the harvest level of the item. It works together with toolClass. For example 
if toolClass is set to pickaxe and harvestLevel set to 2, the item can harvest all blocks registered with 
toolClass pickaxe and harvestLevel less or equal 2. Blocks that can be harvest this way are automatically 
affected by the efficiency of the item.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		harvestLevel = 0;<br>
		<br>
		harvestLevel = 1;<br />
		<br />
		harvestLevel = 3;<br />
	</span>
</div> 