<h1>Item Attributes</h1>
<h2>hasEffect</h2>
<p>This attribute defines if the item has the enchanted effect even when it is not enchanted (like golden apple).</p>
<h3>Examples</h3>
<div class="code">
	<span>
		hasEffect[0] = true;<br>
		<br />
		// Default value<br>
		hasEffect[0] = false;<br>		
		// ...<br>
		hasEffect[31] = false;<br>
	</span>
</div>