<h1>Item Attributes</h1>
<h2>hunger</h2>
<p>This attribute is for food only. It defines how many half hunger sticks are added to the player's hunger bar when eaten.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		hunger[0] = 2;<br>
		// ...<br>
		hunger[31] = 2;<br>
		<br>
		hunger[14] = 8;<br>
	</span>
</div>  