<h1>Item Attributes</h1>
<h2>information</h2>
<p>This attribute defines the extra information of an item:<br>
	<img src="../images/item.information.png" />
</p>
<h3>Examples</h3>
<div class="code">
	<span>
		information[0] = "Awesome!";<br>
		<br>
		// Adds three lines<br>
		information[31] = "Even|More|Awesome";<br>
	</span>
</div>