<h1>Item Attributes</h1>
<h2>leaveContainerItem</h2>
<p>This attribute defines if the item's container item remains in the crafting grid or moves to the inventory when the item is used in a crafting recipe.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// container item remains in the crafting grid<br>
		leaveContainerItem = true;<br>
		<br>
		// Default value<br>
		// container item moves to the inventory<br>
		leaveContainerItem = false;<br>
	</span>
</div>