<h1>Item Attributes</h1>
<h2>maxDamage</h2>
<p>This attribute defines the maximum damage of an item. For example, a diamond tool has a higher maximum damage than a wooden tool.<br>
If this attribute is used, the item can not use metadata.
</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		maxDamage = 0;<br>
		<br>
		maxDamage = 100;<br>
		<br>
		maxDamage = 617;<br>
	</span>
</div>