<h1>Item Attributes</h1>
<h2>maxUsingDuration</h2>
<p>This attribute defines how long the item can be in use (hold right mouse button) in ticks. This has to be 32 for foods and drinks.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		maxUsingDuration[0] = 0;<br>
		// ...<br>
		maxUsingDuration[31] = 0;<br>
		<br>
		// Default value food<br>
		maxUsingDuration[0] = 32;<br>
		// ...<br>
		maxUsingDuration[31] = 32;<br>
		<br>
		// Default value sword<br>
		maxUsingDuration[0] = 72000;<br>
		<br>
		maxUsingDuration[27] = 1000;<br>
	</span>
</div>