<h1>Item Attributes</h1>
<h2>name</h2>
<p>This attribute defines the mod-unique name of the item. It shouldn't contain any whitespaces.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		name = "myOwnSimpleItem";<br>
		<br>
		name = "pickaxeOfLuck";<br>
	</span>
</div>