<h1>Item Attributes</h1>
<h2>onArmorUpdate</h2>
<p>This attribute defines the script that is executed every tick if the armor is in an armor slot.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onArmorUpdate = "player.sendMessage('SPAM!');";<br>
	</span>
</div>