<h1>Item Attributes</h1>
<h2>onBlockStartBreak</h2>
<p>This attribute defines the script that is executed right before the item breaks a block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onBlockStartBreak[0] = "player.sendMessage('Harvested a block!');";<br>
	</span>
</div>