<h1>Item Attributes</h1>
<h2>onBlockDestroyed</h2>
<p>This attribute defines the script that is executed when the player destroys a block with the item.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onBlockDestroyed[0] = "player.sendMessage('Destroyed a block!');";<br>
	</span>
</div>