<h1>Item Attributes</h1>
<h2>onCreated</h2>
<p>This attribute defines the script that is executed when the item is put out of the crafting result slot.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onCreated[0] = "player.sendMessage('Crafted my item!');";<br>
	</span>
</div>