<h1>Item Attributes</h1>
<h2>onDroppedByPlayer</h2>
<p>This attribute defines the script that is executed when the item is dropped by the player.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onDroppedByPlayer[0] = "player.sendMessage('Dropped my item!');";<br>
	</span>
</div>