<h1>Item Attributes</h1>
<h2>onEaten</h2>
<p>This attribute defines the script that is executed after the item is eaten.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onEaten[0] = "player.sendMessage('Eaten my item!');";<br>
	</span>
</div>