<h1>Item Attributes</h1>
<h2>onHitEntity</h2>
<p>This attribute defines the script that is executed when an entity is hit by the item. It is called after the entity is damaged.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onHitEntity[0] = "player.sendMessage('Hit an entity!');";<br>
	</span>
</div>