<h1>Item Attributes</h1>
<h2>onLeftClickLiving</h2>
<p>This attribute defines the script that is executed when the player left clicks a living with the item. This is executed before the living is damaged. If the living is a player, onLeftClickPlayer is executed instead.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onLeftClickLiving[0] = "player.sendMessage('Left clicked a living!');";<br>
	</span>
</div>