<h1>Item Attributes</h1>
<h2>onLeftClickPlayer</h2>
<p>This attribute defines the script that is executed when the player left clicks a player with the item. It is called before the player is damaged.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onLeftClickPlayer[0] = "player.sendMessage('Left clicked a player!');";<br>
	</span>
</div>