<h1>Item Attributes</h1>
<h2>onRightClick</h2>
<p>This attribute defines the script that is executed when the player right clicks with the item.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onRightClick[0] = "player.sendMessage('Right clicked with my item!');";<br>
	</span>
</div>