<h1>Item Attributes</h1>
<h2>onStoppedUsing</h2>
<p>This attribute defines the script that is executed when the player stopped using the item (releases the right mouse button). For example when the player stopped blocking with a sword.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onStoppedUsing[0] = "player.sendMessage('Stopped using my item!');";<br>
	</span>
</div>