<h1>Item Attributes</h1>
<h2>onUpdate</h2>
<p>This attribute defines the script that is executed every tick if the item is in the player's inventory.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onUpdate[0] = "player.sendMessage('SPAM!');";<br>
	</span>
</div>