<h1>Item Attributes</h1>
<h2>onUseOnEntity</h2>
<p>This attribute defines the script that is executed when the player right clicks another player with the item.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onUseOnPlayer[0] = "player.sendMessage('Right clicked a player!');";<br>
	</span>
</div>