<h1>Item Attributes</h1>
<h2>onUse</h2>
<p>This attribute defines the script that is executed when the player right clicks a block with the item .</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onUse[0] = "player.sendMessage('Right clicked a block!');";<br>
	</span>
</div>