<h1>Item Attributes</h1>
<h2>onUseOnEntity</h2>
<p>This attribute defines the script that is executed when the player right clicks an entity with the item. If the entity is a player, onUseOnPlayer is executed instead of onUseOnEntity.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onUseOnEntity[0] = "player.sendMessage('Right clicked an entity!');";<br>
	</span>
</div>