<h1>Item Attributes</h1>
<h2>onUseFirst</h2>
<p>Defines the script that is executed when the player right clicks a block with a block. It is called before the block is activated.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onUseFirst[0] = "player.sendMessage('Right clicked a block!');";<br>
	</span>
</div>