<h1>Item Attributes</h1>
<h2>onUsing</h2>
<p>This attribute defines the script that is executed every tick if the item is in use (e.g. when a sword is blocking).</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onUseOnEntity[0] = "player.sendMessage('Using my item!');";<br>
	</span>
</div>