<h1>Item Attributes</h1>
<h2>potionProbability</h2>
<p>This attribute defines the probability that the potion effect is added to the player. 0.0 means it won't be added and 1.0 means it will be added everytime. It is for food only.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		potionProbability[0] = 1.0<br>
		// ...<br>
		potionProbability[31] = 1.0<br>
		<br>
		potionProbability[3] = 0.5;<br>
		<br>
		potionProbability[17] = 0.8;<br>
	</span>
</div> 