<h1>Item Attributes</h1>
<h2>potionAmplifier</h2>
<p>This attribute defines the amplifier of the potion defined in the potion attribute. For example the higher the amplifier for the moveSpeed potion is, the faster the player walks with the potion. It is for food only.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		potionAmplifier[0] = 0;<br>
		// ...<br>
		potionAmplifier[31] = 0;<br>
		<br>
		potionAmplifier[9] = 1;<br>
		<br>
		potionAmplifier[26] = 5;<br>
	</span>
</div> 