<h1>Item Attributes</h1>
<h2>potion</h2>
<p>This attribute defines the potion effect that is added to the player when eating or drinking the item. It is for food only.<br>
List of potion effects:</p>
<ul>
	<li>moveSpeed</li>
	<li>moveSlowdown</li>
	<li>digSpeed</li>
	<li>digSlowDown</li>
	<li>damageBoost</li>
	<li>heal</li>
	<li>harm</li>
	<li>jump</li>
	<li>confusion</li>
	<li>regeneration</li>
	<li>resistance</li>
	<li>fireResistance</li>
	<li>waterBreathing</li>
	<li>invisibility</li>
	<li>blindness</li>
	<li>nightVision</li>
	<li>hunger</li>
	<li>weakness</li>
	<li>poison</li>
	<li>wither</li>
</ul>
<h3>Examples</h3>
<div class="code">
	<span>
		potion[0] = "moveSpeed";<br>
		<br>
		potion[31] = "jump";<br>
	</span>
</div> 