<h1>Item Attributes</h1>
<h2>potionDuration</h2>
<p>This attribute defines the duration of the potion defined for the potion attribute in seconds. It is for food only.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		potionDuration[0] = 60;<br>
		// ...<br>
		potionDuration[31] = 60;<br>
		<br>
		potionDuration[24] = 10;<br>
	</span>
</div> 