<h1>Item Attributes</h1>
<h2>repairable</h2>
<p>This attribute defines if the item can use repair recipes.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		repairable = true;<br>
		<br>
		repairable = false;<br>
	</span>
</div> 