<h1>Item Attributes</h1>
<h2>saturation</h2>
<p>This attribute defines the saturation of the food item. The more saturation a player has, the longer the player doesn't lose any hunger.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		saturation[0] = 0.3<br>
		// ...<br>
		saturation[31] = 0.3<br>
		<br>
		saturation[5] = 0.5;<br>
		<br>
		saturation[19] = 1.5;<br>
	</span>
</div> 