<h1>Item Attributes</h1>
<h2>textureFile</h2>
<p>This attribute defines the texture file that the item will use. Texture files for this attribute go into the assets/{mod name}/textures/items directory of your mod.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Uses assets/{mod name}/textures/items/myItem.png from the mod's directory<br>
		textureFile[0] = "myItem.png";<br>
		<br>
		// Uses assets/minecraft/textures/items/stick.png from the minecraft.jar<br>
		textureFile[31] = "/stick.png";
		<br>
		// Uses assets/SomeMod/textures/items/someItem.png<br>
		textureFile[0] = "/SomeMod:someItem.png";
	</span>
</div> 