<h1>Item Attributes</h1>
<h2>toolClass</h2>
<p>This attribute defines the item's tool class. It works together with harvestLevel. For example 
if toolClass is set to pickaxe and harvestLevel set to 2, the item can harvest all blocks registered 
with toolClass pickaxe and harvestLevel less or equal 2. Blocks that can be harvest this way are 
automatically affected by the efficiency of the item. If this attribute is set to 'noHarvest' isn't able 
to harvest any block no matter if there are blocks specified in harvestBlocks.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		toolClass = "noHarvest";<br>
		<br>
		toolClass = "pickaxe";<br>
		<br>
		toolClass = "myOwnToolClass";
	</span>
</div> 