<h1>Item Attributes</h1>
<h2>usingAction</h2>
<p>This attribute defines the action of the item when it is in use (the player hold the right mouse button).<br>
List of actions:
<ul>
	<li>eat</li>
	<li>drink</li>
	<li>block</li>
</ul>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value food<br>
		usingAction[0] = "eat";<br>
		// ...<br>
		usingAction[31] = "eat";<br>
		<br>
		// Default value sword<br>
		usingAction[0] = "block";<br>
	</span>
</div> 