<h1>Item Attributes</h1>
<h2>waterProof</h2>
<p>This attribute defines whether the armor item makes the player not lose any air underwater when wearing.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		waterProof = true;<br />
		<br />
		// Default value<br>
		waterProof = false;<br />
	</span>
</div>