<h1>Tile Entity Attributes</h1>
<h2>colLength</h2>
<p>This attribute defines the number of slots of a column. Or the number of rows.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		colLength = 6;
		<br>
		colLength = 1;<br>
		<br>
		colLength = 5;
	</span>
</div>