<h1>Tile Entity Attributes</h1>
<h2>name</h2>
<p>This attribute defines the unique name of the tile entity.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		name = "myTileEntity";<br>
	</span>
</div>