<h1>Tile Entity Attributes</h1>
<h2>onItemSmelted</h2>
<p>This attribute defines the script that is executed after an item was smelted. The itemstack object is the stack in the result slot of the furnace.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onItemSmelted = "world.sendMessageToAllPlayer('Smelted an item!');";<br>
	</span>
</div>