<h1>Tile Entity Attributes</h1>
<h2>onUpdate</h2>
<p>This attribute defines the script that is executed every tick.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onUpdate = "position.y += 15; world.createExplosion(position, 5.0, false);";<br>
	</span>
</div>