<h1>Tile Entity Attributes</h1>
<h2>rowLength</h2>
<p>This attribute defines the number of slots of a row. Or the number of columns.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		rowLength = 9;<br>
		<br>
		rowLength = 1;<br>
		<br>
		rowLength = 5;
	</span>
</div>