<h1>Tile Entity Attributes</h1>
<h2>ticksToSmelt</h2>
<p>This attribute defines how many ticks the furnace needs to smelt an item.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		ticksToSmelt = 125;<br>
		<br>
		// Default value<br>
		ticksToSmelt = 200;
	</span>
</div>