<h1>Tile Entity Attributes</h1>
<h2>usedFuelLists</h2>
<p>This attribute defines which fuel lists the furnace uses. The fuel list is the first argument of the mod.addFuelFor() function.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		// Uses vanilla fuel only. That means every fuel that works in the vanilla furnace.<br>
		usedFuelLists = "vanilla";<br>
		<br>
		usedFuelLists = "myFuels1, myFuels2";
	</span>
</div>