<h1>Tile Entity Attributes</h1>
<h2>usedRecipeLists</h2>
<p>This attribute defines which recipe lists the furnace uses. The recipe list is the first argument of the mod.addSmeltingRecipeFor() function.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		// Uses vanilla recipes only. That means every recipe that works in the vanilla furnace.<br>
		usedRecipeLists = "vanilla";<br>
		<br>
		usedRecipeLists = "mySmeltRecipes1, mySmeltRecipes2";
	</span>
</div>