<h1>World Generator Attributes</h1>
<h2>allowedBiomes</h2>
<p>This attribute defines in what biomes that block is allowed to generate.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		allowedBiomes = "all";<br>
		<br>
		allowedBiomes = "Jungle";<br>
		<br>
		allowedBiomes = "Desert";<br>
		<br>
		allowedBiomes = "Jungle,Desert";
	</span>
</div>