<h1>World Generator Attributes</h1>
<h2>blockId</h2>
<p>This attribute defines the name of the block that is generated.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		block = "minecraft:stone";<br>
		<br>
		blockId = "MyMod:myBlock";
	</span>
</div>