<h1>World Generator Attributes</h1>
<h2>blockMeta</h2>
<p>This attribute defines the metadata of the block that is generated.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		blockMeta = 0;<br>
		<br>
		blockMeta = 15;
	</span>
</div>