<h1>World Generator Attributes</h1>
<h2>blockRate</h2>
<p>This attribute defines the number of blocks per cluster.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		blockRate = 64;<br>
		<br>
		blockRate = 1;<br>
		<br>
		blockRate = 5;
	</span>
</div>