<h1>World Generator Attributes</h1>
<h2>endReplacedBlocks</h2>
<p>This attribute defines which blocks gets replaced by the generated blocks in the end.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		endReplacedBlocks = "minecraft:end_stone";<br>
		<br>
		endReplacedBlocks = "minecraft:air, minecraft:stone, minecraft:wool:1";
	</span>
</div>