<h1>World Generator Attributes</h1>
<h2>generationsPerChunk</h2>
<p>This attribute defines how many generations are made per chunk.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// There is a chance of 50% that a generation is made<br>
		generationsPerChunk = 0.5;<br>
		<br>
		// Default value<br>
		generationsPerChunk = 1.0;<br>
		<br>
		// Two generations and with a chance of 40% three generations are mode<br>
		generationsPerChunk = 2.4;
	</span>
</div>