<h1>World Generator Attributes</h1>
<h2>generateInOverworld</h2>
<p>This attribute defines if the generator generates blocks in the overworld.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		generateInOverworld = true;<br>
		<br>
		generateInOverworld = false;
	</span>
</div>