<h1>World Generator Attributes</h1>
<h2>generateInNether</h2>
<p>This attribute defines if the generator generates blocks in the nether.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		generateInNether = true;<br>
		<br>
		// Default value<br>
		generateInNether = false;
	</span>
</div>