<h1>World Generator Attributes</h1>
<h2>generateInEnd</h2>
<p>This attribute defines if the generator generates blocks in the end.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		generateInEnd = true;<br>
		<br>
		// Default value<br>
		generateInEnd = false;
	</span>
</div>