<h1>World Generator Attributes</h1>
<h2>maxHeight</h2>
<p>This attribute defines the maximum height where the block can be generated.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		maxHeight = 255;<br>
		<br>
		maxHeight = 60;<br>
		<br>
		maxHeight = 30;
	</span>
</div>