<h1>World Generator Attributes</h1>
<h2>minHeight</h2>
<p>This attribute defines the minimum height where the block can be generated.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		minHeight = 0;<br>
		<br>
		minHeight = 10;<br>
		<br>
		minHeight = 24;
	</span>
</div>