<h1>World Generator Attributes</h1>
<h2>netherReplacedBlocks</h2>
<p>This attribute defines which blocks gets replaced by the generated blocks in the nether.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		netherReplacedBlocks = "minecraft:netherrack";<br>
		<br>
		netherReplacedBlocks = "minecraft:air, minecraft:stone, minecraft:wool:1";
	</span>
</div>