<h1>World Generator Attributes</h1>
<h2>numberOfBlocks</h2>
<p>This attribute defines the number of blocks that are generated in one vein.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		numberOfBlocks = 1;<br>
		<br>
		numberOfBlocks = 5;<br>
		<br>
		numberOfBlocks = 16;
	</span>
</div>