<h1>World Generator Attributes</h1>
<h2>overworldReplacedBlocks</h2>
<p>This attribute defines which blocks gets replaced by the generated blocks in the overworld.</p>
<h3>Examples</h3>
<div class="code">
	<span>		
		// Default value<br>
		overworldReplacedBlocks = "minecraft:stone";<br>
		<br>
		// Default value flower<br>
		overworldReplacedBlocks = "minecraft:grass, minecraft:dirt, minecraft:farmland";<br>
		<br>
		overworldReplacedBlocks = "minecraft:air, minecraft:stone, minecraft:wool:1";
	</span>
</div>