<h1>Block types - normal</h1>
<p>
    The normal block type is the most used block type. Examples of blocks that you would make with this block type are
    stone, dirt, glass or bedrock. The normal block type allows you to have 16 metadata variants (wool for example uses
    different metadata variants for different colors).<br>
    The normal block type has six textures per metadata variant, one for each side (x-positive, x-negative, y-positive,
    y-negative, z-positive and z-negative).
</p>
<h2>Available attributes</h2>
<ul>
    <li><a href="../addToCreative.html">addToCreative</a></li>
    <li><a href="../canPlaceOnCeiling.html">canPlaceOnCeiling</a></li>
    <li><a href="../canPlaceOnFloor.html">canPlaceOnFloor</a></li>
    <li><a href="../canPlaceOnWall.html">canPlaceOnWall</a></li>
    <li><a href="../canSilkHarvest.html">canSilkHarvest</a></li>
    <li><a href="../creativeTab.html">creativeTab</a></li>
    <li><a href="../displayName.html">displayName</a></li>
    <li><a href="../drop.html">drop</a></li>
    <li><a href="../fireSpreadSpeed.html">fireSpreadSpeed</a></li>
    <li><a href="../flammability.html">flammability</a></li>
    <li><a href="../fortuneModifier.html">fortuneModifier</a></li>
    <li><a href="../hardness.html">hardness</a></li>
    <li><a href="../harvestLevel.html">harvestLevel</a></li>
    <li><a href="../hasCollision.html">hasCollision</a></li>
    <li><a href="../hasTileEntity.html">hasTileEntity</a></li>
    <li><a href="../id.html">id</a></li>
    <li><a href="../information.html">information</a></li>
    <li><a href="../isBeaconBase.html">isBeaconBase</a></li>
    <li><a href="../isBurning.html">isBurning</a></li>
    <li><a href="../isFireSource.html">isFireSource</a></li>
    <li><a href="../isWood.html">isWood</a></li>
    <li><a href="../light.html">light</a></li>
    <li><a href="../material.html">material</a></li>
    <li><a href="../maxStack.html">maxStack</a></li>
    <li><a href="../name.html">name</a></li>
    <li><a href="../onActivated.html">onActivated</a></li>
    <li><a href="../onAdded.html">onAdded</a></li>
    <li><a href="../onBonemeal.html">onBonemeal</a></li>
    <li><a href="../onBreak.html">onBreak</a></li>
    <li><a href="../onClicked.html">onClicked</a></li>
    <li><a href="../onCollided.html">onCollided</a></li>
    <li><a href="../onCollidedWithLiving.html">onCollidedWithLiving</a></li>
    <li><a href="../onCollidedWithPlayer.html">onCollidedWithPlayer</a></li>
    <li><a href="../onDestroyedByPlayer.html">onDestroyedByPlayer</a></li>
    <li><a href="../onFallenUpon.html">onFallenUpon</a></li>
    <li><a href="../onNeighborChange.html">onNeighborChange</a></li>
    <li><a href="../onPlaced.html">onPlaced</a></li>
    <li><a href="../onPlacedBy.html">onPlacedBy</a></li>
    <li><a href="../onPlacedByPlayer.html">onPlacedByPlayer</a></li>
    <li><a href="../onRedstoneSignal.html">onRedstoneSignal</a></li>
    <li><a href="../onUpdate.html">onUpdate</a></li>
    <li><a href="../onWalking.html">onWalking</a></li>
    <li><a href="../onWalkingLiving.html">onWalkingLiving</a></li>
    <li><a href="../onWalkingPlayer.html">onWalkingPlayer</a></li>
    <li><a href="../opacity.html">opacity</a></li>
    <li><a href="../pick.html">pick</a></li>
    <li><a href="../resistance.html">resistance</a></li>
    <li><a href="../semiTransparent.html">semiTransparent</a></li>
    <li><a href="../slipperiness.html">slipperiness</a></li>
    <li><a href="../stepSound.html">stepSound</a></li>
    <li><a href="../textureFileXN.html">textureFileXN</a></li>
    <li><a href="../textureFileXP.html">textureFileXP</a></li>
    <li><a href="../textureFileYN.html">textureFileYN</a></li>
    <li><a href="../textureFileYP.html">textureFileYP</a></li>
    <li><a href="../textureFileZN.html">textureFileZN</a></li>
    <li><a href="../textureFileZP.html">textureFileZP</a></li>
    <li><a href="../tickrate.html">tickrate</a></li>
    <li><a href="../tileEntity.html">tileEntity</a></li>
    <li><a href="../tileTransparent.html">tileTransparent</a></li>
    <li><a href="../toolClass.html">toolClass</a></li>
    <li><a href="../transparent.html">transparent</a></li>
</ul>