<h1>Block Attributes</h1>
<h2>addToCreative</h2>
<p>This attribute defines whether the block is added to the creative inventory or not.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		addToCreative[0] = true;<br>
		<br>		
		// Default value<br>
		addToCreative[0] = false;<br>
		// ...<br>
		addToCreative[15] = false;<br>		
	</span>
</div>