<h1>Block Attributes</h1>
<h2>blocksPiston</h2>
<p>This attribute defines whether the block can be pushed by pistons or not.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		blocksPiston = false;<br>
		<br>		
		blocksPiston = true;<br>
	</span>
</div>