<h1>Block Attributes</h1>
<h2>canFaceSides</h2>
<p>This attribute defines if the block can be faced to the horizontal sides which means that the front side can be at one of the horizontal sides.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		canFaceSides = true;<br>
		<br>
		canFaceSides = false;<br>		
	</span>
</div>