<h1>Block Attributes</h1>
<h2>canFaceTop</h2>
<p>This attribute defines if the block can be faced upwards which means that the front side can be at the top.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		canFaceTop = true;<br>
		<br>
		// Default value<br>
		canFaceTop = false;<br>		
	</span>
</div>