<h1>Block Attributes</h1>
<h2>canFaceBottom</h2>
<p>This attribute defines if the block can be faced downwards which means that the front side can be at the bottom.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		canFaceBottom = true;<br>
		<br>
		// Default value<br>
		canFaceBottom = false;<br>		
	</span>
</div>