<h1>Block Attributes</h1>
<h2>canPlaceOnFloor</h2>
<p>This attribute defines whether the block can be placed on the floor or not.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		canPlaceOnFloor[0] = true;<br>
		<br>		
		canPlaceOnFloor[15] = false;<br>		
	</span>
</div>