<h1>Block Attributes</h1>
<h2>canPlaceOnWall</h2>
<p>This attribute defines whether the block can be placed on the wall or not.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		canPlaceOnWall[0] = true;<br>
		<br>
		canPlaceOnWall[15] = false;<br>		
	</span>
</div>