<h1>Block Attributes</h1>
<h2>canPlaceOnCeiling</h2>
<p>This attribute defines whether the block can be placed on the ceiling or not.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		canPlaceOnCeiling[0] = true;<br>
		<br>
		// Default value torch
		canPlaceOnCeiling[0] = false;<br>
		<br>
		canPlaceOnCeiling[15] = false;<br>		
	</span>
</div>