<h1>Block Attributes</h1>
<h2>canSilkHarvest</h2>
<p>This attribute defines whether the block can harvested with silk touch or not. If the block normally drops an item and not the block itself and this attribute is set to false, the block will drop the item even when using silk touch.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		canSilkHarvest[0] = true;<br>
		// ...
		canSilkHarvest[15] = true;<br>
		<br>
		canSilkHarvest[15] = false;<br>		
	</span>
</div>