<h1>Block Attributes</h1>
<h2>creativeTab</h2>
<p>This attribute defines to what creative tab the block is added. It can be set to a vanilla creative tab or to a custom creative tab created with mod.addCreativeTab().<br />
Vanilla creative tabs:
<ul>
<li>brewing</li>
<li>buildingBlocks</li>
<li>combat</li>
<li>decorations</li>
<li>food</li>
<li>materials</li>
<li>misc</li>
<li>redstone</li>
<li>tools</li>
<li>transportation</li>
</ul>
<h3>Examples</h3>
<div class="code">
	<span>
		creativeTab = "food";<br>
		<br>
		// Default value button, door, fence gate, pressure plate, trap door<br>
		creativeTab = "redstone";<br>
		<br>
		// Default value carpet, chest, fence, ladder, torch<br>
		creativeTab = "decorations";<br>
	</span>
</div>