<h1>Block Attributes</h1>
<h2>density</h2>
<p>This attribute defines the fluid's density. A negative density indicates that the fluid is ligher than air and thus should flow up instead of down (as of forge 804, this doesn't seem to work though). The density has no effect on the behaviour of the fluid itself but it may be used by other mods to distinguish between different fluids.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value and density of water<br>
		density = 1000;<br>
		<br>
		// Density of lava<br>
		density = 3000;<br>
	</span>
</div>