<h1>Block Attributes</h1>
<h2>doubleSlabBlock</h2>
<p>This attribute defines the name of the block that is created when placing one slab on another. If this attribute isn't set, it won't be possible to create a double slab.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		doubleSlabBlock[0] = "MyMod:myDoubleSlab";<br>
		<br>
		doubleSlabBlock[7] = "MyMod:anotherDoubleSlab";<br>
	</span>
</div>