<h1>Block Attributes</h1>
<h2>doubleSlabMeta</h2>
<p>This attribute defines the metadata of block defined for doubleSlabId.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		doubleSlabMeta[0] = 0;<br>
		// ...<br>
		doubleSlabMeta[7] = 0;<br>
		<br>
		doubleSlabMeta[0] = 5;<br>
		<br>
		doubleSlabMeta[7] = 8;<br>
	</span>
</div>