<h1>Block Attributes</h1>
<h2>drop</h2>
<p>This attribute defines the name, metadata and stack size of the items that the block does drop.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value (drop nothing) <br>
		drop[0] = "minecraft:air";<br>
		// ...<br>
		drop[15] = "NAME:15 1";<br>
		<br>
		// Drops one block of oak wooden planks<br>
		drop[0] = "minecraft:planks";<br>
		<br>
		// Drops one block of spruce wooden planks<br>
		drop[2] = "minecraft:planks:1";<br>
		<br>
		// Drops two blocks of birch wooden planks<br>
		drop[4] = "minecraft:planks:2 2";<br>
		<br>
		// Drops one to five blocks of jungle wooden planks<br>
		drop[6] = "minecraft:planks:3 1-5";<br>
		<br>
		// Drops three blocks<br>
		drop[8] = "MyMod:myBlock 3";<br>
		<br>
		// Drops six blocks with metadata 5<br>
		drop[10] = "MyMod:5 6";<br>
		<br>
		// Drops 8 items<br>
		drop[15] = "MyMod:myItem 8";<br>
		<br>
		// Drops one to five blocks of birch wooden planks and two jungle wooden planks
		drop[0] = "minecraft:planks:2 1-5, minecraft:planks:3 2";<br>
		<br>
		// The same as above but using aliases
		drop[5] = "birchPlanks 1-5, junglePlanks 2";
	</span>
</div>