<h1>Block Attributes</h1>
<h2>expDrop</h2>
<p>This attribute defines the amount of experience that the block does drop.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		expDrop[0] = "0";<br>
		// ...<br>
		expDrop[15] = "0";<br>
		<br>
		expDrop[0] = "2";<br>
		<br>
		// Random amount between 4 and 9 (both inclusive)<br>
		expDrop[7] = "4-9";
	</span>
</div>