<h1>Block Attributes</h1>
<h2>faceBySide</h2>
<p>This attribute defines if the block is faced by side the player places it on. For example, logs are faced like this.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value flat
		faceBySide = true;<br>
		<br>
		// Default value furnace, facing<br>
		faceBySide = false;<br>
	</span>
</div>