<h1>Block Attributes</h1>
<h2>fireSpreadSpeed</h2>
<p>This attribute defines how fast fire will spread around the block. The higher the value is, the faster the fire will spread.<br>
Vanilla values:
</p>
<ul>
	<li>Wooden planks: 5</li>
	<li>Leaves: 30</li>
	<li>Tall grass: 60</li>
</ul>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		fireSpreadSpeed[0] = 0;<br>
		// ...<br>
		fireSpreadSpeed[15] = 0;<br>
		<br>
		fireSpreadSpeed[0] = 5;<br>
		<br>
		fireSpreadSpeed[15] = 15;<br>
	</span>
</div>