<h1>Block Attributes</h1>
<h2>flammability</h2>
<p>This attribute defines the chance that fire will spread and consume the block. 300 being a 100% chance, 0, being a 0% chance.
Vanilla values:</p>
<ul>
	<li>Wooden planks: 20</li>
	<li>Leaves: 60</li>
	<li>Tall grass: 100</li>
</ul>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		flammability[0] = 0;<br>
		// ...<br>
		flammability[15] = 0;<br>
		<br>
		flammability[0] = 5;<br>
		<br>
		flammability[15] = 15;<br>
	</span>
</div>