<h1>Block Attributes</h1>
<h2>flowLength</h2>
<p>This attribute defines how far the fluid flows horizontally. This value has to be between 1 and 16 (including both)</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value and flow length of water<br>
		flowLength = 8;<br>
		<br>
		// Flow length of lava<br>
		flowLength = 4;<br>
	</span>
</div>