<h1>Block Attributes</h1>
<h2>fortuneModifier</h2>
<p>This attribute defines a modifier for the amount of drops dropped when harvesting the block with a fortune tool. For example if this is set to 2, the block will drop additional 2 * fortune level items.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		fortuneModifier[0] = 0;<br>
		// ...<br>
		fortuneModifier[15] = 0;<br>
		<br>
		fortuneModifier[0] = 2;<br>
		<br>
		fortuneModifier[15] = 4;<br>
	</span>
</div>