<h1>Block Attributes</h1>
<h2>gaseous</h2>
<p>This attribute defines if the fluid is gaseous or not. This does not affect the behaviour of the fluid but other mods may use it to check if a fluid is gaseous or not.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		gaseous = false;<br>
		<br>
		gaseous = true;<br>
	</span>
</div>