<h1>Block Attributes</h1>
<h2>hardness</h2>
<p>This attribute defines the block's hardness. The higher the value is, the longer it takes an item to harvest the block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		hardness[0] = 0.0;<br>
		// ...<br>
		hardness[0] = 0.0;<br>
		<br>
		hardness[0] = 2.0;<br>
		<br>
		hardness[15] = 4.4;<br>
	</span>
</div>