<h1>Block Attributes</h1>
<h2>hasAntiGravity</h2>
<p>This attribute defines the direction the gravity block moves to. true means up, false means down.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		hasAntiGravity[0] = true;<br>
		<br>
		// Default value<br>
		hasAntiGravity[0] = false;<br>
		// ...<br>
		hasAntiGravity[15] = false;<br>
	</span>
</div>