<h1>Block Attributes</h1>
<h2>hasCollision</h2>
<p>This attribute defines if an entity can collide with the block. The block's material has to be leaves, plants, vine, fire, circuits or glass or it won't work correctly.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		hasCollision[0] = true;<br>
		// ...<br>
		hasCollision[15] = true;<br>
		<br>
		hasCollision[15] = false;<br>
	</span>
</div>