<h1>Block Attributes</h1>
<h2>hasTileEntity</h2>
<p>This attribute defines if the block uses a tile entity.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		hasTileEntity[0] = true;<br>
		<br>
		// Default value<br>
		hasTileEntity[0] = false;<br>
		// ...<br>
		hasTileEntity[15] = false;<br>
	</span>
</div>