<h1>Block Attributes</h1>
<h2>iconFile</h2>
<p>This attribute defines texture file for the door item. Texture files for this attribute go into the textures/items directory of your mod.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Uses textures/items/myDoorItem.png from the mod's directory<br>
		iconFile = "myDoorItem.png";<br>
		<br>
		// Uses textures/items/doorWood.png from the minecraft.jar<br>
		iconFile = "/doorWood.png";<br>
	</span>
</div>