<h1>Block Attributes</h1>
<h2>infiniteSource</h2>
<p>This attribute defines if the fluid makes infinite sources like water does.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		infiniteSource = true;<br>
		<br>
		infiniteSource = false;<br>
	</span>
</div>