<h1>Block Attributes</h1>
<h2>information</h2>
<p>This attribute defines the extra information of a block:<br>
	<img src="../images/block.information.png" />
</p>
<h3>Examples</h3>
<div class="code">
	<span>
		information[0] = "Awesome!";<br>
		<br>
		// Adds three lines<br>
		information[15] = "Even|More|Awesome";<br>
	</span>
</div>