<h1>Block Attributes</h1>
<h2>isBeaconBase</h2>
<p>This attribute defines if the block can be used for the base of a beacon block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		isBeaconBase[0] = true;<br>
		<br>
		// Default value<br>
		isBeaconBase[0] = false;<br>
		// ...<br>
		isBeaconBase[15] = false;<br>
	</span>
</div>