<h1>Block Attributes</h1>
<h2>isBurning</h2>
<p>This attribute defines if the block should set fire and deal fire damage to entities coming into contact with it.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		isBurning[0] = true;<br>
		<br>
		// Default value<br>
		isBurning[0] = false;<br>
		// ...<br>
		isBurning[15] = false;<br>
	</span>
</div>