<h1>Block Attributes</h1>
<h2>isFireSource</h2>
<p>This attribute defines if fire burns for an infinite amount of time on the top of the block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		isFireSource[0] = true;<br>
		<br>
		// Default value<br>
		isFireSource[0] = false;<br>
		// ...<br>
		isFireSource[15] = false;<br>
	</span>
</div>