<h1>Block Attributes</h1>
<h2>isSensible</h2>
<p>This attribute defines if the button can be triggered by arrows.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		isSensible = true;<br>
		<br>
		// Default value<br>
		isSensible = false;<br>
	</span>
</div>