<h1>Block Attributes</h1>
<h2>isWood</h2>
<p>This attribute defines if the block acts like a wood block. For example it prevents leaves from decaying.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		isWood[0] = true;<br>
		<br>
		// Default value<br>
		isWood[0] = false;<br>
		// ...<br>
		isWood[15] = false;<br>
	</span>
</div>