<h1>Block Attributes</h1>
<h2>length</h2>
<p>This attribute defines the block's length. 1 means the block is one full block long.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		length[0] = 1.0;<br>
		<br>
		length[1] = 0.75;<br>
	</span>
</div>