<h1>Block Attributes</h1>
<h2>light</h2>
<p>This attribute defines how much light the block emits. 0 means no light, 15 means maximum amount of light.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		light[0] = 5;<br>
		<br>
		light[15] = 10;<br>
		<br>
		// Default value<br>
		light[0] = 0;<br>
		// ...<br>
		light[15] = 0;<br>
	</span>
</div>