<h1>Block Attributes</h1>
<h2>material</h2>
<p>This attribute defines the block's material.<br>
Materials:</p>
<ul>
	<li>cactus</li>
	<li>circuits</li>
	<li>clay</li>
	<li>cloth</li>
	<li>craftedSnow</li>
	<li>fire</li>
	<li>glass</li>
	<li>grass</li>
	<li>ground</li>
	<li>ice</li>
	<li>iron</li>
	<li>lava</li>
	<li>leaves</li>
	<li>plants</li>
	<li>pumpkin</li>
	<li>redstoneLight</li>
	<li>rock</li>
	<li>sand</li>
	<li>snow</li>
	<li>sponge</li>
	<li>tnt</li>
	<li>vine</li>
	<li>water</li>
	<li>wood</li>
</ul>
<h3>Examples</h3>
<div class="code">
	<span>
		material = "cactus";<br>
		<br>
		// Default value<br>
		material = "rock";<br>
		<br>
		// Default value fluid<br>
		material = "water";
	</span>
</div>