<h1>Block Attributes</h1>
<h2>maxStack</h2>
<p>This attribute defines the maximum stack size of the block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		maxStack = 64;<br>
		<br>
		maxStack = 8;<br>
		<br>
		maxStack = 1;<br>
	</span>
</div>