<h1>Block Attributes</h1>
<h2>modelTexture</h2>
<p>This attribute defines the model texture for the open lid chest. An example can be found in minecraft.jar/assets/minecraft/textures/entity/chest/normal.png.
	 Texture files for this attribute go into the assets/{mod name}/textures/entity/chest directory of your mod.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		modelTexture = "/normal.png";<br>
		<br>
		modelTexture = "myChest.png";<br>
	</span>
</div>