<h1>Block Attributes</h1>
<h2>name</h2>
<p>This attribute defines the mod-unique name of the block. It shouldn't contain any whitespaces.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		name = "myOwnSimpleBlock";<br>
		<br>
		name = "superMetalBlock";<br>
	</span>
</div>