<h1>Block Attributes</h1>
<h2>normalBlockShading</h2>
<p>This attribute defines whether the door should be shaded like a normal block. This will make the door indistinguishable if placed next to a block with the same texture as the door which is usefull for hidden doors.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		normalBlockShading = true;<br>
		<br>		
		// Default value<br>
		normalBlockShading = false;<br>	
	</span>
</div>