<h1>Block Attributes</h1>
<h2>onActivated</h2>
<p>This attribute defines the script that is executed when a player activates (right clicks) the block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onActivated[0] = "player.sendMessage('Activated me!');";<br>
	</span>
</div>