<h1>Block Attributes</h1>
<h2>onAdded</h2>
<p>This attribute defines the script that is executed when the block gets added (no matter how) to the world.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onAdded[0] = "position.y++; world.setBlockId(position, 1);";<br>
	</span>
</div>