<h1>Block Attributes</h1>
<h2>onBonemeal</h2>
<p>This attribute defines the script that is called when a player uses bonemeal on the block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onBonemeal[0] = "world.setBlockId(position, 5);";<br>
	</span>
</div>