<h1>Block Attributes</h1>
<h2>onClicked</h2>
<p>This attribute defines the script that is executed when a player left clicks the block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onClicked[0] = "player.sendMessage('You clicked me.');";<br>
	</span>
</div>