<h1>Block Attributes</h1>
<h2>onCollided</h2>
<p>This attribute defines the script that is executed when an entity collides with the block. An entity can't collide with a normal block except when the block has no collision. The following 
image shows when the different onCollided triggers are executed.</p>
<img src="../images/onCollided.png" />
<h3>Examples</h3>
<div class="code">
	<span>
		onCollided[0] = "player.sendMessage('You touched me.');";<br>
	</span>
</div>