<h1>Block Attributes</h1>
<h2>onDestroyedByPlayer</h2>
<p>This attribute defines the script that is executed when a player destroys the block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onDestroyedByPlayer[0] = "player.sendMessage('You destroyed me.');";<br>
	</span>
</div>