<h1>Block Attributes</h1>
<h2>onFallenUpon</h2>
<p>This attribute defines the script that is executed when an entity falls upon the block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onFallenUpon[0] = "entity.setFire(10);";<br>
	</span>
</div>