<h1>Block Attributes</h1>
<h2>onNeighborChange</h2>
<p>This attribute defines the script that is executed when a neighbor block changes.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onNeighborChange[0] = "world.createExplosion(position, 5.0, false);";<br>
	</span>
</div>