<h1>Block Attributes</h1>
<h2>onPlaced</h2>
<p>This attribute defines the script that is executed when the block gets placed.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onPlaced[0] = "world.createExplosion(position, 5.0, false);";<br>
	</span>
</div>