<h1>Block Attributes</h1>
<h2>onPlacedBy</h2>
<p>This attribute defines the script that is executed when a living places the block. If the living is a player, onPlacedByPlayer is executed instead.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onPlacedBy[0] = "world.createExplosion(position, 5.0, false);";<br>
	</span>
</div>