<h1>Block Attributes</h1>
<h2>onPlacedByPlayer</h2>
<p>This attribute defines the script that is executed when a player placed the block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onPlacedByPlayer[0] = "player.sendMessage('You placed me.');";<br>
	</span>
</div>