<h1>Block Attributes</h1>
<h2>onRedstoneSignal</h2>
<p>This attribute defines the script that is executed when the block gets added and when a neighbor block changes. It can be used to handle redstone signals.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onRedstoneSignal[0] = "if (redstoneSignal) { world.setBlockMetadata(position, 1); }";<br>
		onRedstoneSignal[1] = "if (!redstoneSignal) { world.setBlockMetadata(position, 0); }";
	</span>
</div>