<h1>Block Attributes</h1>
<h2>onUpdate</h2>
<p>This attribute defines the script that is executed every tickCount ticks when the block is in the world. 
This is only called on the server which means that things like spawing particles won't work if used here.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		onUpdate[0] = "position.y += 15; world.createExplosion(position, 5.0, false);";<br>
	</span>
</div>