<h1>Block Attributes</h1>
<h2>onWalking</h2>
<p>This attribute defines the script that is executed when an entity is walking on the block. The following 
image shows when the different onWalking triggers are executed.</p>
<img src="../images/onWalking.png" />
<h3>Examples</h3>
<div class="code">
	<span>
		onWalking[0] = "world.createExplosion(position, 5.0, false);";<br>
	</span>
</div>