<h1>Block Attributes</h1>
<h2>opacity</h2>
<p>This attribute defines how much light is blocked going through the block. 255 means all light is blocked, 0 means no light is blocked (all light is going through the block).</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		opacity = 255;<br>
		<br>
		// Default value button, carpet, chest, pressure plate, step, torch, pane, ladder, fence, crossTexture, trapDoor, door, fenceGate, wall, wheat
		opacity = 0;<br>
		<br>
		// Default value fluid<br>
		opacity = 3;<br>
		<br>
		opacity = 123;<br>
	</span>
</div>