<h1>Block Attributes</h1>
<h2>particles</h2>
<p>This attribute defines whether the torch or furnace should spawn particles or not.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value (<br>
		particles = true;<br>
	</span>
</div>