<h1>Block Attributes</h1>
<h2>pick</h2>
<p>This attribute defines the item that a player will receive when he picks (middle click) the block in creative mode.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value (NAME is the block's id)<br>
		pick[0] = "NAME:0 1";<br>
		// ..<br>
		pick[15] = "NAME:15 1";<br>
		<br>
		// A block of oak wooden planks<br>
		pick[0] = "minecraft:planks";<br>
		<br>
		// A block of spruce wooden planks<br>
		pick[2] = "minecraft:planks:1";<br>
		<br>
		// A block of a mod<br>
		pick[8] = "MyMod:myBlock";<br>
		<br>
		// A block with metadata 5<br>
		pick[15] = "MyMod:myBlock:5";<br>
	</span>
</div>