<h1>Block Attributes</h1>
<h2>redstoneOnly</h2>
<p>This attribute defines whether the door, trap door or fence gate can only opened with a redstone signal.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		redstoneOnly = true;<br>
		<br>
		// Default value<br>
		redstoneOnly = false;<br>
	</span>
</div>