<h1>Block Attributes</h1>
<h2>resistance</h2>
<p>This attribute defines the block's resistance against explosions.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		resistance[0] = 0.0;<br>
		// ...<br>
		resistance[15] = 0.0;<br>		
		<br>
		resistance[15] = 100.5;<br>
	</span>
</div>