<h1>Block Attributes</h1>
<h2>rotateSideTextures</h2>
<p>This attribute defines whether the side textures of a facing block should be rotated like the side textures of vanilla log blocks.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		rotateSideTextures = true;<br>
		<br>
		// Default value<br>
		rotateSideTextures = false;<br>
	</span>
</div>