<h1>Block Attributes</h1>
<h2>semiTransparent</h2>
<p>This attribute defines if the block uses semi transparent textures.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		semiTransparent = true;<br>
		<br>
		// Default value<br>
		semiTransparent = false;<br>
	</span>
</div>
