<h1>Block Attributes</h1>
<h2>slipperiness</h2>
<p>This attribute defines the slipperiness of the block. For example, ice blocks have a higher slipperiness than most of the other blocks.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default Value<br>
		slipperiness = 0.6;<br>
		<br>
		// Default value<br>
		slipperiness = 0.8;
	</span>
</div>