<h1>Block Attributes</h1>
<h2>stepSound</h2>
<p>This attribute defines the block's step and harvest sound.<br>
Values:
</p>
<ul>
	<li>cloth</li>
	<li>glass</li>
	<li>grass</li>
	<li>gravel</li>
	<li>metal</li>
	<li>sand</li>
	<li>stone</li>
	<li>wood</li>
</ul>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		stepSound = "stone";<br>
		<br>
		stepSound = "grass";<br>
	</span>
</div>