<h1>Block Attributes</h1>
<h2>textureFileSides</h2>
<p>This attribute defines the texture file that the block will use for all sides except front and back. Texture files for this attribute go into the assets/{mod name}/textures/blocks directory of your mod.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Uses assets/{mod name}/textures/blocks/myBlockSides.png from the mod's directory<br>
		textureFileSides[0] = "myBlockSides.png";<br>
		<br>
		// Uses assets/minecraft/textures/blocks/wood.png from the minecraft.jar<br>
		textureFileSides[1] = "/wood.png";<br>		
		<br>
		// Uses assets/SomeMod/textures/blocks/someBlock.png<br>
		textureFileSides[0] = "/SomeMod:someBlock.png";
	</span>
</div>