<h1>Block Attributes</h1>
<h2>textureFileBack</h2>
<p>This attribute defines texture file that the block will use for its back side. Texture files for this attribute go into the assets/{mod name}/textures/blocks directory of your mod.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Uses assets/{mod name}/textures/blocks/myBlockBack.png from the mod's directory<br>
		textureFileBack[0] = "myBlockBack.png";<br>
		<br>
		// Uses assets/minecraft/textures/blocks/wood.png from the minecraft.jar<br>
		textureFileBack[1] = "/wood.png";<br>
		<br>
		// Uses assets/SomeMod/textures/blocks/someBlock.png<br>
		textureFileBack[0] = "/SomeMod:someBlock.png";
	</span>
</div>