<h1>Block Attributes</h1>
<h2>textureFileFront</h2>
<p>This attribute defines texture file that the block will use for its front side. Texture files for this attribute go into the assets/{mod name}/textures/blocks directory of your mod.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// 	Uses assets/{mod name}/textures/blocks/myBlockFront.png from the mod's directory<br>
		textureFileFront[0] = "myBlockFront.png";<br>
		<br>
		// Uses assets/minecraft/textures/blocks/wood.png from the minecraft.jar<br>
		textureFileFront[1] = "/wood.png";<br>		
		<br>
		// Uses assets/SomeMod/textures/blocks/someBlock.png<br>
		textureFileFront[0] = "/SomeMod:someBlock.png";
	</span>
</div>