<h1>Block Attributes</h1>
<h2>textureFileZN</h2>
<p>This attribute defines the texture file that the block will use for its z-negative side. Texture files for this attribute go into the assets/{mod name}/textures/blocks directory of your mod.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Uses assets/{mod name}/textures/blocks/myBlockZN.png from the mod's directory<br>
		textureFileZP[0] = "myBlockZN.png";<br>
		// ...<br>
		// Uses assets/minecraft/textures/blocks/wood.png from the minecraft.jar<br>
		textureFileZP[15] = "/wood.png";<br>
		<br>
		// Uses assets/SomeMod/textures/blocks/someBlock.png<br>
		textureFileZP[0] = "/SomeMod:someBlock.png";
	</span>
</div>