<h1>Block Attributes</h1>
<h2>thickness</h2>
<p>This attribute defines the block's thickness. 1 means the block is a thick as a regular block.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		thickness[0] = 0.5;<br>
		<br>
		thickness[1] = 0.75;<br>
	</span>
</div>