<h1>Block Attributes</h1>
<h2>tickrate</h2>
<p>This attribute defines the block's tickrate. The tickrate defines for example how often the onUpdate event is called.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		tickrate = 10;<br>
		<br>
		tickrate = 1;<br>
		<br>
		tickrate = 5;<br>
	</span>
</div>