<h1>Block Attributes</h1>
<h2>tileTransparent</h2>
<p>This attribute defines the following rendering behaviour.<br>
true:<br>
<img src="../images/block.tileTransparent.true.png" /><br>
false:<br>
<img src="../images/block.tileTransparent.false.png" />
</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		tileTransparent[0] = true;<br>
		// ...<br>
		tileTransparent[15] = true;<br>
		<br>
		tileTransparent[15] = false;<br>
	</span>
</div>