<h1>Block Attributes</h1>
<h2>tileEntity</h2>
<p>This attribute defines the name of the tile entity that the block is using. The name has to be the one defined for the name attribute of a tile entity.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		tileEntity[0] = "myChest";<br>
		<br>
		tileEntity[15] = "myFurnace";<br>
	</span>
</div>