<h1>Block attributes</h1>
<h2>toolClass</h2>
<p>This attribute defines the tool class that is required to harvest the block. It works together with 
harvestLevel. For example if toolClass is set to pickaxe and harvestLevel is set to 2, only pickaxes with 
harvest level 2 or higher can harvest the block.
</p>
<h3>Examples</h3>
<div class="code">
	<span>
		toolClass[0] = "pickaxe";<br>
		<br>
		toolClass[15] = "shovel";<br>
	</span>
</div> 
