<h1>Block Attributes</h1>
<h2>transparent</h2>
<p>This attribute defines if the block uses a transparent texture. If the block uses a semi transparent texture, this attribute has also be set to true.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		transparent = true;<br>
		<br>
		// Default value<br>
		transparent = false;<br>
	</span>
</div>
