<h1>Block Attributes</h1>
<h2>trigger</h2>
<p>This attribute defines what objects can trigger the pressure plate. The attribute is a combination of including and excluding entities or entity classes. You can use entity names (Creeper, Spider, etc), 
entity ids (for example the Creeper has id 50) or the following:<br>
<ul>
	<li>all</li>
	<li>mobs</li>
	<li>players</li>
	<li>hostiles</li>
	<li>animals</li>
	<li>items</li>
</ul>
You can also use multiple ones by separating them with a ','.
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value<br>
		trigger = "include(all)";<br>
		<br>
		trigger = "include(mobs)";<br>
		<br>
		trigger = "include(all) exclude(items,players)";<br>
		<br>
		trigger = "include(hostiles) exclude(Creeper)";<br>
	</span>
</div>