<h1>Block Attributes</h1>
<h2>viscosity</h2>
<p>This attribute defines the fluid's viscosity. The viscosity of a fluid defines how fast it will flow. The higher the density is the slower the fluid flows. A negative value for the viscosity is not allowed.</p>
<h3>Examples</h3>
<div class="code">
	<span>
		// Default value and viscosity of water<br>
		viscosity = 1000;<br>
		<br>
		// Viscosity of lava<br>
		viscosity = 6000;<br>
	</span>
</div>