<h1>Examples: Axe</h1>
<h2>Textures</h2>
<ul>
	<li><a href="textures/items/axe.png">axe.png</a></li>
</ul>
<h2>Item</h2>
<div class="code">
	<span>
		/* myAxe.js */<br>
		name = "myAxe";<br>
		addToCreative[0] = true;<br>
		creativeTab = "tools";<br>
		damage = 2;<br>
		full3d = true;<br>
		toolClass = "axe";<br>
		harvestLevel = 3;<br>
		efficiency[0] = 6.0;<br>
		maxDamage = 200;<br>
		onHitEntity[0] = "itemstack.damageItem(2);";<br>
		onBlockDestroyed[0] = "itemstack.damageItem(1);";<br>
		<br>
		textureFile[0] = "axe.png";<br>
	</span>
</div>
<h2>en_US.lang</h2>
<div class="code">
	<span>
		item.myAxe0.name=My Axe
	</span>
</div>
<h2>mod.js</h2>
<div class="code">
	<span>
		mod.addItem("myAxe.js", "normal");
	</span>
</div>
	