<h1>Examples: Chest</h1>
<h2>Textures</h2>
<ul>
	<li><a href="textures/blocks/chest.png">chest.png</a></li>
	<li><a href="textures/entity/chest/myChest.png">myChest.png</a></li>
	<li><a href="textures/guis/myChestGUI.png">myChestGUI.png</a></li>
</ul>
<h2>Block</h2>
<div class="code">
	<span>
		/* myChest.js */<br>
		name = "myChest";<br>
		creativeTab = "decorations";<br>		
		material = "wood";<br>
		addToCreative[0] = true;<br>
		hardness[0] = 1.5;<br>
		resistance[0] = 5.0;<br>		
		onActivated[0] = "player.openGui('myChestGUI', position); result = true;";<br>
		hasTileEntity[0] = true;<br>
		tileEntity[0] = "myChestTE";<br>
		<br>
		modelTexture = "myChest.png";<br>
		textureFileYP[0] = "chest.png";<br>
		textureFileYN[0] = "chest.png";<br>
		textureFileXP[0] = "chest.png";<br>
		textureFileXN[0] = "chest.png";<br>
		textureFileZP[0] = "chest.png";<br>
		textureFileZN[0] = "chest.png";<br>
	</span>
</div>

<h2>GUI</h2>
<div class="code">
	<span>
		/* myChestGUI.js */<br>
		name = "myChestGUI";<br>
		guiFile = "myChestGUI.png";<br>
		chestX = 8;<br>
		chestY = 8;<br>
		inventoryX = 8;<br>
		inventoryY = 94;<br>
		height = 176;<br>
		width = 176;<br>
	</span>
</div>

<h2>Tile Entity</h2>
<div class="code">
	<span>
		/* myChestTE.js */<br>
		name = "myChestTE";<br>
		colLength = 4;<br>
		rowLength = 9;
	</span>
</div>

<h2>en_US.lang</h2>
<div class="code">
	<span>
		tile.myChest0.name=My Chest
	</span>
</div>

<h2>mod.js</h2>
<div class="code">
	<span>
		mod.addTileEntity("myChestTE.js", "chest");<br>
		mod.addGui("myChestGUI.js", "chest");<br>
		mod.addBlock("myChest.js", "chest");<br>
	</span>
</div>