<h1>Examples: Crafting table</h1><h2>Textures</h2><ul>	<li><a href="textures/blocks/craftingTableTop.png">craftingTableTop.png</a></li>	<li><a href="textures/blocks/craftingTableSide.png">craftingTableSide.png</a></li></ul>
<h2>Block</h2>
<div class="code">
	<span>		/* myCraftingTable.js */<br>
		name = "myCraftingTable";<br>
		creativeTab = "decorations";<br>
		material = "wood";<br>
		addToCreative[0] = true;<br>
		hardness[0] = 1.5;<br>
		resistance[0] = 5.0;<br>
		textureFileYP[0] = "craftingTableTop.png";<br>		textureFileYN[0] = "craftingTableSide.png";<br>		textureFileXP[0] = "craftingTableSide.png";<br>		textureFileXN[0] = "craftingTableSide.png";<br>		textureFileZP[0] = "craftingTableSide.png";<br>		textureFileZN[0] = "craftingTableSide.png";<br>
		onActivated[0] = "player.openGui('myCraftingTableGUI', position); result = true;";<br>
	</span>
</div>
<h2>GUI</h2>
<div class="code">
	<span>		/* myCraftingTableGUI.js */<br>
		name = "myCraftingTableGUI";
	</span>
</div><h2>en_US.lang</h2><div class="code">	<span>		tile.myCraftingTable0.name=My Crafting Table	</span></div>
<h2>mod.js</h2>
<div class="code">
	<span>
		mod.addGui("myCraftingTableGUI.js", "crafting");<br>
		mod.addBlock("myCraftingTable.js", "normal");<br>
	</span>
</div>