<h1>Examples: Furnace</h1><h2>Textures</h2><ul>	<li><a href="textures/blocks/furnaceFrontOn.png">furnaceFrontOn.png</a></li>	<li><a href="textures/blocks/furnaceFrontOff.png">furnaceFrontOff.png</a></li>	<li><a href="textures/blocks/furnaceSide.png">furnaceSide.png</a></li></ul>
<h2>Block</h2>
<div class="code">
	<span>		/* myFurnace.js */<br>
		name = "myFurnace";<br>
		creativeTab = "decorations";<br>		material = "iron";<br>
		<br>
		// inactive<br>
		addToCreative[0] = true;
		hardness[0] = 1.5;<br>
		resistance[0] = 5.0;<br>
		textureFileFront[0] = "furnaceFrontOff.png";<br>
		textureFileBack[0] = "furnaceSide.png";<br>
		textureFileSides[0] = "furnaceSide.png";<br>
		onActivated[0] = "player.openGui('myFurnaceGUI', position); result = true;";<br>
		hasTileEntity[0] = true;<br>
		tileEntity[0] = "myFurnaceTE";<br>
		<br>
		// active<br>
		hardness[1] = 1.5;<br>
		resistance[1] = 5.0;<br>
		textureFileFront[1] = "furnaceFrontOn.png";<br>
		textureFileBack[1] = "furnaceSide.png";<br>
		textureFileSides[1] = "furnaceSide.png";<br>
		light[1] = 10;<br>
		onActivated[1] = "player.openGui('myFurnaceGUI', position); result = true;";<br>
		hasTileEntity[1] = true;<br>
		tileEntity[1] = "myFurnaceTE";<br>
	</span>
</div>
<h2>GUI</h2>
<div class="code">
	<span>		/* myFurnaceGUI.js */<br>
		name = "myFurnaceGUI";
	</span>
</div>
<h2>Tile Entity</h2>
<div class="code">
	<span>		/* myFurnaceTE.js */<br>
		name = "myFurnaceTE";<br>
		ticksToSmelt = 75;<br>
	</span>
</div><h2>en_US.lang</h2><div class="code">	<span>		tile.myFurnace0.name=My Furnace	</span></div>
<h2>mod.js</h2>
<div class="code">
	<span>
		mod.addTileEntity("myFurnaceTE.js", "furnace");<br>
		mod.addGui("myFurnaceGUI.js", "furnace");<br>
		mod.addBlock("myFurnace.js", "furnace");<br>
	</span>
</div>