<h1>Examples: Hoe</h1>
<h2>Textures</h2>
<ul>
	<li><a href="textures/items/hoe.png">hoe.png</a></li>
</ul>
<h2>Item</h2>
<div class="code">
	<span>
		/* myHoe.js */<br>
		name = "myHoe";<br>
		addToCreative[0] = true;<br>
		creativeTab = "tools";<br>
		full3d = true;<br>
		maxDamage = 200;<br>
		onUse[0] = "if (world.getBlockName(position) == 'dirt' || world.getBlockName(position) == 'grass') { world.setBlock(position, 'farmland'); itemstack.damageItem(1); }";
		<br>
		textureFile[0] = "hoe.png";<br>
	</span>
</div>
<h2>en_US.lang</h2>
<div class="code">
	<span>
		item.myHoe0.name=My Hoe
	</span>
</div>
<h2>mod.js</h2>
<div class="code">
	<span>
		mod.addItem("myHoe.js", "normal");
	</span>
</div>
	