<h1>Examples: Pickaxe</h1>
<h2>Textures</h2>
<ul>
	<li><a href="textures/items/pickaxe.png">pickaxe.png</a></li>
</ul>
<h2>Item</h2>
<div class="code">
	<span>
		/* myPickaxe.js */<br>
		name = "myPickaxe";<br>
		addToCreative[0] = true;<br>
		creativeTab = "tools";<br>
		damage = 2;<br>
		full3d = true;<br>
		toolClass = "pickaxe";<br>
		harvestLevel = 3;<br>
		efficiency[0] = 6.0;<br>
		maxDamage = 200;<br>
		onHitEntity[0] = "itemstack.damageItem(2);";<br>
		onBlockDestroyed[0] = "itemstack.damageItem(1);";<br>
		<br>
		textureFile[0] = "pickaxe.png";<br>
	</span>
</div>
<h2>en_US.lang</h2>
<div class="code">
	<span>
		item.myPickaxe0.name=My Pickaxe
	</span>
</div>
<h2>mod.js</h2>
<div class="code">
	<span>
		mod.addItem("myPickaxe.js", "normal");
	</span>
</div>
	