<h1>Examples: Shovel</h1>
<h2>Textures</h2>
<ul>
	<li><a href="textures/items/shovel.png">shovel.png</a></li>
</ul>
<h2>Item</h2>
<div class="code">
	<span>
		/* myShovel.js */<br>
		name = "myShovel";<br>
		addToCreative[0] = true;<br>
		creativeTab = "tools";<br>
		damage = 2;<br>
		full3d = true;<br>
		toolClass = "shovel";<br>
		efficiency[0] = 6.0;<br>
		maxDamage = 200;<br>
		onHitEntity[0] = "itemstack.damageItem(2);";<br>
		onBlockDestroyed[0] = "itemstack.damageItem(1);";<br>
		<br>
		textureFile[0] = "shovel.png";<br>
	</span>
</div>
<h2>en_US.lang</h2>
<div class="code">
	<span>
		item.myShovel0.name=My Shovel
	</span>
</div>
<h2>mod.js</h2>
<div class="code">
	<span>
		config.addItemIdProperty("myShovelId", 6001);<br>
		mod.addItem("myShovel.js", "normal");
	</span>
</div>
	