<h1>Examples: Sword</h1>
<h2>Textures</h2>
<ul>
	<li><a href="textures/items/sword.png">sword.png</a></li>
</ul>
<h2>Item</h2>
<div class="code">
	<span>
		/* mySword.js */<br>
		name = "mySword";<br>
		addToCreative[0] = true;<br>
		creativeTab = "combat";<br>
		damage = 10;<br>
		full3d = true;<br>
		efficiency[0] = 6.0;<br>
		maxDamage = 200;<br>
		onHitEntity[0] = "itemstack.damageItem(1);";<br>
		onBlockDestroyed[0] = "itemstack.damageItem(2);";<br>
		<br>
		textureFile[0] = "sword.png";<br>
	</span>
</div>
<h2>en_US.lang</h2>
<div class="code">
	<span>
		item.mySword0.name=My Sword
	</span>
</div>
<h2>mod.js</h2>
<div class="code">
	<span>
		mod.addItem("mySword.js", "normal");
	</span>
</div>
	