<h1>Blocks</h1>

<h2>Important Notes</h2>
<ul>
	<li>Attributes with "[]" are attributes that can be defined per metadata. For example drop[0] defines the drop for metadata 0 and drop[15] for metadata 15. The highest metadata is 15 (7 for slabs and 1 for facing and furnace).</li>
	<li>The following attributes must be set or the block won't work: id, name.</li>
</ul>
<br>
<h2>Block Types</h2>
<ul>
	<li>button</li>
	<li>carpet</li>
	<li>chest</li>
	<li>crossTexture</li>
	<li>crossTexturePost</li>
	<li>door</li>
	<li>facing</li>
	<li>fence</li>
	<li>fenceGate</li>
	<li>flat</li>
	<li>fluid</li>
	<li>furnace</li>
	<li>gravity</li>
	<li>ladder</li>
	<li>normal</li>
	<li>pane</li>
	<li>post</li>
	<li>pressurePlate</li>
	<li>slab</li>
	<li>stairs</li>
	<li>torch</li>
	<li>trapDoor</li>
	<li>wall</li>
	<li>wheat</li>
</ul>
<br>
<h2>Attribute Reference</h2>
<h3>All blocks</h3>
<ul>
	<li><a href="block/addToCreative.html">addToCreative</a></li>
	<li><a href="block/blocksPiston.html">blocksPiston</a></li>
	<li><a href="block/canPlaceOnCeiling.html">canPlaceOnCeiling</a></li>
	<li><a href="block/canPlaceOnFloor.html">canPlaceOnFloor</a></li>
	<li><a href="block/canPlaceOnWall.html">canPlaceOnWall</a></li>	
	<li><a href="block/canSilkHarvest.html">canSilkHarvest</a></li>
	<li><a href="block/creativeTab.html">creativeTab</a></li>
	<li><a href="block/drop.html">drop</a></li>
	<li><a href="block/expDrop.html">expDrop</a></li>
	<li><a href="block/fireSpreadSpeed.html">fireSpreadSpeed</a></li>
	<li><a href="block/flammability.html">flammability</a></li>
	<li><a href="block/fortuneModifier.html">fortuneModifier</a></li>
	<li><a href="block/hardness.html">hardness</a></li>
	<li><a href="block/harvestLevel.html">harvestLevel</a></li>
	<li><a href="block/hasCollision.html">hasCollision</a></li>
	<li><a href="block/hasTileEntity.html">hasTileEntity</a></li>	
	<li><a href="block/information.html">information</a></li>
	<li><a href="block/isBeaconBase.html">isBeaconBase</a></li>
	<li><a href="block/isBurning.html">isBurning</a></li>
	<li><a href="block/isFireSource.html">isFireSource</a></li>
	<li><a href="block/isWood.html">isWood</a></li>
	<li><a href="block/light.html">light</a></li>
	<li><a href="block/material.html">material</a></li>
	<li><a href="block/maxStack.html">maxStack</a></li>
	<li><a href="block/name.html">name</a></li>
	<li><a href="block/onActivated.html">onActivated</a></li>
	<li><a href="block/onAdded.html">onAdded</a></li>
	<li><a href="block/onBonemeal.html">onBonemeal</a></li>
	<li><a href="block/onBreak.html">onBreak</a></li>
	<li><a href="block/onClicked.html">onClicked</a></li>
	<li><a href="block/onCollided.html">onCollided</a></li>
	<li><a href="block/onCollidedWithLiving.html">onCollidedWithLiving</a></li>
	<li><a href="block/onCollidedWithPlayer.html">onCollidedWithPlayer</a></li>
	<li><a href="block/onDestroyedByPlayer.html">onDestroyedByPlayer</a></li>
	<li><a href="block/onFallenUpon.html">onFallenUpon</a></li>
	<li><a href="block/onNeighborChange.html">onNeighborChange</a></li>
	<li><a href="block/onPlaced.html">onPlaced</a></li>
	<li><a href="block/onPlacedBy.html">onPlacedBy</a></li>
	<li><a href="block/onPlacedByPlayer.html">onPlacedByPlayer</a></li>
	<li><a href="block/onRandomDisplayTick.html">onRandomDisplayTick</a></li>
	<li><a href="block/onRedstoneSignal.html">onRedstoneSignal</a></li>
	<li><a href="block/onUpdate.html">onUpdate</a></li>
	<li><a href="block/onWalking.html">onWalking</a></li>
	<li><a href="block/onWalkingLiving.html">onWalkingLiving</a></li>
	<li><a href="block/onWalkingPlayer.html">onWalkingPlayer</a></li>
	<li><a href="block/opacity.html">opacity</a></li>
	<li><a href="block/pick.html">pick</a></li>
	<li><a href="block/resistance.html">resistance</a></li>
	<li><a href="block/semiTransparent.html">semiTransparent</a></li>
	<li><a href="block/slipperiness.html">slipperiness</a></li>
	<li><a href="block/stepSound.html">stepSound</a></li>
	<li><a href="block/textureFileXN.html">textureFileXN</a></li>
	<li><a href="block/textureFileXP.html">textureFileXP</a></li>
	<li><a href="block/textureFileYN.html">textureFileYN</a></li>
	<li><a href="block/textureFileYP.html">textureFileYP</a></li>
	<li><a href="block/textureFileZN.html">textureFileZN</a></li>
	<li><a href="block/textureFileZP.html">textureFileZP</a></li>
	<li><a href="block/tickrate.html">tickrate</a></li>
	<li><a href="block/tileEntity.html">tileEntity</a></li>
	<li><a href="block/tileTransparent.html">tileTransparent</a></li>
	<li><a href="block/toolClass.html">toolClass</a></li>
	<li><a href="block/transparent.html">transparent</a></li>
</ul>
<h3>Button</h3>
<ul>
	<li><a href="block/isSensible.html">isSensible</a></li>
</ul>
<h3>Chest</h3>
<ul>
	<li><a href="block/modelTexture.html">modelTexture</a></li>	
</ul>
<h3>Door, fence gate, trap door</h3>
<ul>
	<li><a href="block/redstoneOnly.html">redstoneOnly</a></li>
</ul>
<h3>Door</h3>
<ul>
	<li><a href="block/iconFile.html">iconFile</a></li>
	<li><a href="block/normalBlockShading.html">normalBlockShading</a></li>
</ul>
<h3>Facing</h3>
<ul>
	<li><a href="block/rotateSideTextures.html">rotateSideTextures</a></li>
</ul>
<h3>Facing, crossTexturePost, furnace, flat, post</h3>
<ul>
	<li><a href="block/canFaceBottom.html">canFaceBottom</a></li>
	<li><a href="block/canFaceSides.html">canFaceSides</a></li>
	<li><a href="block/canFaceTop.html">canFaceTop</a></li>
	<li><a href="block/faceBySide.html">faceBySide</a></li>
	<li><a href="block/textureFileBack.html">textureFileBack</a></li>
	<li><a href="block/textureFileFront.html">textureFileFront</a></li>
	<li><a href="block/textureFileSides.html">textureFileSides</a></li>
</ul>
<h3>Fluid</h3>
<ul>
	<li><a href="block/density.html">density</a></li>
	<li><a href="block/flowLength.html">flowLength</a></li>
	<li><a href="block/gaseous.html">gaseous</a></li>
	<li><a href="block/infiniteSource.html">infiniteSource</a></li>
	<li><a href="block/viscosity.html">viscosity</a></li>
</ul>
<h3>Furnace, torch</h3>
<ul>
	<li><a href="block/particles.html">particles</a></li>	
</ul>
<h3>Gravity</h3>
<ul>
	<li><a href="block/hasAntiGravity.html">hasAntiGravity</a></li>	
</ul>
<h3>Cross texture post, post</h3>
<ul>	
	<li><a href="block/thickness.html">thickness</a></li>
	<li><a href="block/length.html">length</a></li>
</ul>
<h3>Pressure plate</h3>
<ul>	
	<li><a href="block/trigger.html">trigger</a></li>
</ul>
<h3>Slab</h3>
<ul>
	<li><a href="block/doubleSlabBlock.html">doubleSlabBlock</a></li>
	<li><a href="block/doubleSlabMeta.html">doubleSlabMeta</a></li>	
</ul>

