<h1>Changelog</h1>

<h3>0.11.18 -> 0.11.19</h3>
<b>General:</b>
<ul>
	<li>fixed tile entity data is not sent to the client</li>
</ul>
<br>
<b>Blocks:</b>
<ul>
	<li>added onRandomDisplayTick attribute</li>
	<li>added normalBlockShading attribute to doors</li>
	<li>bottom side of top part and top side of bottom part of doors aren't rendered anymore</li>
	<li>fixed crash when middle clicking door without setting the pick attribute</li>
</ul>
<br>
<h3>0.11.17 -> 0.11.18</h3>
<b>Scripting:</b>
<ul>
	<li>fixed entity item methods cause error</li>
</ul>
<br>
<h3>0.11.16 -> 0.11.17</h3>
<b>General:</b>
<ul>
	<li>fixed custom crafting tables are slow?</li>
	<li>fixed default texture for crafting gui</li>
</ul>
<br>
<h3>0.11.15 -> 0.11.16</h3>
<b>World Generation:</b>
<ul>
	<li>fixed can't use minecraft:air for replacedBlocks</li>
</ul>
<br>
<h3>0.11.14b -> 0.11.15</h3>
<b>General:</b>
<ul>
	<li>fixed a crash related to recipes</li>
</ul>
<br>
<b>Blocks:</b>
<ul>
	<li>fixed trap door can't be closed with redstone</li>
	<li>fixed player stuck on custom chests?</li>
</ul>
<br>
<h3>0.11.14 -> 0.11.14b</h3>
<b>General:</b>
<ul>
	<li>fixed another crash</li>
</ul>
<br>
<h3>0.11.13 -> 0.11.14</h3>
<b>General:</b>
<ul>
	<li>fixed crash on server start</li>
</ul>
<br>
<h3>0.11.12 -> 0.11.13</h3>
<b>General:</b>
<ul>
	<li>fixed crash when using Multi Page Chest and CS2</li>
</ul>
<br>
<h3>0.11.11 -> 0.11.12</h3>
<b>Blocks:</b>
<ul>
	<li>fixed crash when adding trap door</li>
	<li>fixed door IconFile doesn't work</li>
	<li>fixed possible crash in chest renderer</li>
	<li>fixed all 16 metadata variants are shown in NEI when none should be there</li>
</ul>
<br>
<b>Items:</b>
<ul>
	<li>fixed items aren't in the correct creative tab in some cases</li>
</ul>
<br>
<b>Scripting:</b>
<ul>
	<li>added asLiving(), asPlayer() and asItem() methods to entity</li>
	<li>world.getBlockName() now returns "minecraft:air" instead of null for air blocks</li>
	<li>fixed entity.isLiving() not return true for players</li>
</ul>
<br>
<h3>0.11.10 -> 0.11.11</h3>
<b>General:</b>
<ul>
	<li>you can now damage items in recipes by adding a "-" the to ingredients</li>
	<li>fixed creative tabs can't have the icon of a block / item that is in it</li>
</ul>
<br>
<b>Blocks:</b>
<ul>
	<li>fixed drop can't be set to "minecraft:air" in order to drop nothing</li>
	<li>"minecraft:air" is now the default value for drop</li>
</ul>
<br>
<b>Scripting:</b>
<ul>
	<li>added enumEntities method to world</li>
</ul>
<br>
<h3>0.11.9 -> 0.11.10</h3>
<b>General:</b>
<ul>
	<li>updated to Minecraft 1.7.10</li>
</ul>
<br>
<b>Blocks:</b>
<ul>
	<li>fixed issues with placement on custom blocks</li>
</ul>
<br>
<b>Scripting:</b>
<ul>
	<li>changed input arguments of functions in the mod object that required items</li>
	<li>all functions in the mod object should now be able to correctly use items from other mods</li>
</ul>
<br>
<h3>0.11.8 -> 0.11.9</h3>
<b>Items:</b>
<ul>
	<li>added anvilMaterial attribute</li>
	<li>added new item types: axe, pickaxe, shovel and sword</li>
	<li>fixed items don't have the enchanted effect even if they are enchanted</li>
	<li>fixed whitespaces in harvestBlocks attribute makes it not work</li>
</ul>
<br>
<b>Blocks:</b>
<ul>
	<li>added rotateSideTextures attribute to facing block</li>
	<li>added blocksPiston attribute</li>
</ul>
<br>
<b>World Generation:</b>
<ul>
	<li>fixed possible crash during world generation</li>
</ul>
<br>
<b>Scripting:</b>
<ul>
	<li>added getNbt function to itemstack and entity</li>
	<li>removed get, set and removeExperience functions from player</li>
</ul>
<br>
<h3>0.11.7 -> 0.11.8</h3>
<b>Items:</b>
<ul>
	<li>fixed crash when not all potion values are set</li>
</ul>
<br>
<b>Scripting:</b>
<ul>
	<li>fixed sendMessage functions don't work</li>
</ul>
<br>
<h3>0.11.6 -> 0.11.7</h3>
<b>General:</b>
<ul>
	<li>fixed crash when breaking blocks with custom items</li>
</ul>
<br>
<h3>0.11.5 -> 0.11.6</h3>
<b>General:</b>
<ul>
	<li>fixed crafting recipes don't show up correctly in NEI</li>
</ul>
<br>
<h3>0.11.4 -> 0.11.5</h3>
<b>General:</b>
<ul>
	<li>fixed blocks and items can't use themselves for their attributes</li>
	<li>fixed default textures don't work</li>
</ul>
<br>
<b>Items:</b>
<ul>
	<li>added onArmorUpdate attribute to armor</li>
	<li>fixed crash when breaking a block with an item that doesn't use the toolClass attribute</li>
</ul>
<br>
<b>Blocks:</b>
<ul>
	<li>added new block type: carpet</li>
	<li>added particles attribute to furnace and torch</li>
</ul>
<br>
<b>Scripting:</b>
<ul>
	<li>added craftMatrix object to crafting handlers</li>
	<li>added world.spawnParticle() method</li>
</ul>
<br>

<h3>0.11.3 -> 0.11.4</h3>
<b>General:</b>
<ul>
	<li>fixed results of some recipes have wrong damage value</li>
	<li>fixed crash related to GUIs</li>
</ul>
<br>
<b>Items:</b>
<ul>
	<li>fixed texture of armor doesn't work</li>
</ul>
<br>
<h3>0.11.2 -> 0.11.3</h3>
<b>General:</b>
<ul>
	<li>fixed crash when adding blocks of some types</li>
</ul>
<br>
<b>Items:</b>
<ul>
	<li>fixed crash when rightclicking an entity</li>
	<li>fixed unlocalized name of damageable items</li>
	<li>changed default value of damage attribute to 0</li>
</ul>
<br>
<b>Scripting:</b>
<ul>
	<li>fixed spawn of "ghost" items when using the entity.shear function</li>
</ul>
<br>
<h3>0.11.1 -> 0.11.2</h3>
<b>General:</b>
<ul>
	<li>fixed modId is automatically converted to lowercase.</li>
</ul>
<br>
<b>Blocks:</b>
<ul>
	<li>fixed crash when destroying block.</li>
	<li>fixed item for door blocks caused crash in creative inventory.</li>
</ul>
<br>
<h3>0.11.0 -> 0.11.1</h3>
<b>General:</b>
<ul>
	<li>made game crash again when a mod fails to load.</li>
</ul>
<br>
<b>Blocks:</b>
<ul>
	<li>added expDrop attribute</li>
</ul>
<br>
<b>World Generation:</b>
<ul>
	<li>fixed game crashes when checking if generated block can replace air.</li>
</ul>
<br>
<h3>0.10.6b -> 0.11.0</h3>
<b>General:</b>
<ul>
	<li>changed location of mods to the main mods directory</li>
	<li>added language file support</li>
	<li>Custom Stuff mods are now registered as regular mods</li>
</ul>
<br>
<b>Items:</b>
<ul>
	<li>removed id attribute</li>
	<li>removed displayName attribute</li>
	<li>damage attribute no longer uses metadata</li>
	<li>changed fluidId attribute to fluid</li>
</ul>
<br>
<b>Blocks:</b>
<ul>
	<li>removed id attribute</li>
	<li>removed displayName attribute</li>
	<li>changed doubleSlabId attribute to doubleSlabBlock</li>
</ul>
<br>
<b>World Generation:</b>
<ul>
	<li>changed blockId attribute to block</li>	
</ul>
<br>
<b>Scripting:</b>
<ul>
	<li>removed config.addBlockIdProperty()</li>
	<li>removed config.addItemIdProperty()</li>
	<li>removed config.getBlockId()</li>
	<li>removed config.getBlockIdFrom()</li>
	<li>removed config.getItemId()</li>
	<li>removed config.getItemIdFrom()</li>
	<li>changed entity.getItemId() to entity.getItemName()</li>
	<li>changed world.getBlockId() to world.getBlockName()</li>
	<li>changed world.setBlockId() to world.setBlock()</li>
	<li>changed world.setBlockIdAndMetadata() to world.setBlockAndMetadata()</li>
	<li>changed world.getContainerSlotId() to world.getContainerSlotItemName()</li>
	<li>changed world.getAliasId() to world.getAliasItemName()</li>
	<li>changed itemstack.setId() to itemstack.setItem()</li>
	<li>changed itemstack.getId() to itemstack.getItemName()</li>
	<li>changed inventory.getId() to inventory.getItemName()</li>
	<li>changed player.getItemId() to player.getItemName()</li>
	<li>replaced all item and block id parameters with name parameters</li>
</ul>