<h1>Examples</h1>
<ul>
	<li><a href="examples/axe.html">Axe</a></li>
	<li><a href="examples/chest.html">Chest</a></li>
	<li><a href="examples/craftingTable.html">Crafting Table</a></li>
	<li><a href="examples/furnace.html">Furnace</a></li>
	<li><a href="examples/hoe.html">Hoe</a></li>
	<li><a href="examples/pickaxe.html">Pickaxe</a></li>
	<li><a href="examples/shovel.html">Shovel</a></li>
	<li><a href="examples/sword.html">Sword</a></li>	
</ul>