<h1>GUIs</h1>

<h2>GUI Types</h2>
<ul>
	<li>chest</li>
	<li>crafting</li>
	<li>furnace</li>
</ul>
<br>
<h2>Attribute Reference</h2>
<h3>All GUIs</h3>
<ul>
	<li><a href="gui/guiFile.html">guiFile</a></li>
	<li><a href="gui/height.html">height</a></li>
	<li><a href="gui/name.html">name</a></li>
	<li><a href="gui/onDraw.html">onDraw</a></li>
	<li><a href="gui/stringColor.html">stringColor</a></li>
	<li><a href="gui/stringText.html">stringText</a></li>
	<li><a href="gui/stringX.html">stringX</a></li>
	<li><a href="gui/stringY.html">stringY</a></li>
	<li><a href="gui/width.html">width</a></li>
</ul>
<h3>Chest, crafting table, furnace</h3>
<ul>
	<li><a href="gui/inventoryX.html">inventoryX</a></li>
	<li><a href="gui/inventoryY.html">inventoryY</a></li>
</ul>
<h3>Chest</h3>
<ul>
	<li><a href="gui/chestX.html">chestX</a></li>
	<li><a href="gui/chestY.html">chestY</a></li>
</ul>
<h3>Crafting table, furnace</h3>
<ul>
	<li><a href="gui/resultX.html">resultX</a></li>
	<li><a href="gui/resultY.html">resultY</a></li>
</ul>
<h3>Crafting table</h3>
<ul>
	<li><a href="gui/craftingX.html">craftingX</a></li>
	<li><a href="gui/craftingY.html">craftingY</a></li>
	<li><a href="gui/colLength.html">colLength</a></li>
	<li><a href="gui/rowLength.html">rowLength</a></li>
	<li><a href="gui/usedRecipeLists.html">usedRecipeLists</a></li>
</ul>
<h3>Furnace</h3>
<ul>
	<li><a href="gui/burnDestX.html">burnDestX</a></li>
	<li><a href="gui/burnDestY.html">burnDestY</a></li>
	<li><a href="gui/burnHeight.html">burnHeight</a></li>
	<li><a href="gui/burnSrcX.html">burnSrcX</a></li>
	<li><a href="gui/burnSrcY.html">burnSrcY</a></li>
	<li><a href="gui/burnWidth.html">burnWidth</a></li>	
	<li><a href="gui/cookDestX.html">cookDestX</a></li>
	<li><a href="gui/cookDestY.html">cookDestY</a></li>
	<li><a href="gui/cookHeight.html">cookHeight</a></li>
	<li><a href="gui/cookSrcX.html">cookSrcX</a></li>
	<li><a href="gui/cookSrcY.html">cookSrcY</a></li>
	<li><a href="gui/cookWidth.html">cookWidth</a></li>	
	<li><a href="gui/fuelX.html">fuelX</a></li>
	<li><a href="gui/fuelY.html">fuelY</a></li>	
	<li><a href="gui/inputX.html">inputX</a></li>
	<li><a href="gui/inputY.html">inputY</a></li>	
</ul>