<h1>Items</h1>

<h2>Item Types</h2>
<ul>
	<li>armor</li>
	<li>axe</li>
	<li>bucket</li>
	<li>food</li>
	<li>normal</li>	
	<li>pickaxe</li>	
	<li>shovel</li>	
	<li>sword</li>	
</ul>
<br>
<h2>Attribute Reference</h2>
<h3>All items</h3>
<ul>
	<li><a href="item/addToCreative.html">addToCreative</a></li>
	<li><a href="item/anvilMaterial.html">anvilMaterial</a></li>
	<li><a href="item/containerItem.html">containerItem</a></li>
	<li><a href="item/creativeTab.html">creativeTab</a></li>
	<li><a href="item/damage.html">damage</a></li>	
	<li><a href="item/effectiveBlocks.html">effectiveBlocks</a></li>
	<li><a href="item/efficiency.html">efficiency</a></li>
	<li><a href="item/enchantability.html">enchantability</a></li>
	<li><a href="item/full3d.html">full3d</a></li>
	<li><a href="item/harvestBlocks.html">harvestBlocks</a></li>
	<li><a href="item/harvestLevel.html">harvestLevel</a></li>
	<li><a href="item/hasEffect.html">hasEffect</a></li>
	<li><a href="item/information.html">information</a></li>
	<li><a href="item/leaveContainerItem.html">leaveContainerItem</a></li>
	<li><a href="item/maxDamage.html">maxDamage</a></li>
	<li><a href="item/maxStack.html">maxStack</a></li>
	<li><a href="item/maxUsingDuration.html">maxUsingDuration</a></li>
	<li><a href="item/name.html">name</a></li>
	<li><a href="item/onBlockDestroyed.html">onBlockDestroyed</a></li>
	<li><a href="item/onBlockStartBreak.html">onBlockStartBreak</a></li>
	<li><a href="item/onCreated.html">onCreated</a></li>
	<li><a href="item/onDroppedByPlayer.html">onDroppedByPlayer</a></li>
	<li><a href="item/onEaten.html">onEaten</a></li>
	<li><a href="item/onHitEntity.html">onHitEntity</a></li>
	<li><a href="item/onLeftClickLiving.html">onLeftClickLiving</a></li>
	<li><a href="item/onLeftClickPlayer.html">onLeftClickPlayer</a></li>
	<li><a href="item/onRightClick.html">onRightClick</a></li>
	<li><a href="item/onStoppedUsing.html">onStoppedUsing</a></li>
	<li><a href="item/onUpdate.html">onUpdate</a></li>
	<li><a href="item/onUse.html">onUse</a></li>
	<li><a href="item/onUseFirst.html">onUseFirst</a></li>
	<li><a href="item/onUseOnEntity.html">onUseOnEntity</a></li>
	<li><a href="item/onUseOnPlayer.html">onUseOnPlayer</a></li>
	<li><a href="item/onUsing.html">onUsing</a></li>
	<li><a href="item/repairable.html">repairable</a></li>
	<li><a href="item/textureFile.html">textureFile</a></li>
	<li><a href="item/toolClass.html">toolClass</a></li>
	<li><a href="item/usingAction.html">usingAction</a></li>
</ul>
<h3>Armor</h3>
<ul>
	<li><a href="item/armorTexture.html">armorTexture</a></li>
	<li><a href="item/armorType.html">armorType</a></li>	
	<li><a href="item/damageReduction.html">damageReduction</a></li>
	<li><a href="item/fallProof.html">fallProof</a></li>
	<li><a href="item/fireProof.html">fireProof</a></li>
	<li><a href="item/onArmorUpdate.html">onArmorUpdate</a></li>
	<li><a href="item/waterProof.html">waterProof</a></li>
</ul>
<h3>Bucket</h3>
<ul>
	<li><a href="item/fluid.html">fluid</a></li>
</ul>
<h3>Food</h3>
<ul>	
	<li><a href="item/alwaysEdible.html">alwaysEdible</a></li>	
	<li><a href="item/hunger.html">hunger</a></li>	
	<li><a href="item/potion.html">potion</a></li>
	<li><a href="item/potionAmplifier.html">potionAmplifier</a></li>
	<li><a href="item/potionDuration.html">potionDuration</a></li>
	<li><a href="item/potionProbability.html">potionProbability</a></li>	
	<li><a href="item/saturation.html">saturation</a></li>	
</ul>