<h1>Crafting Recipes</h1>
<h2>Shaped Recipes</h2>
<p>To create a shaped crafting recipe, you have to add a single line to your mod.js file:</p>
<div class="code">
	<span>mod.addRecipe("[result]", [width], [height], "[ingredient 1]", "[ingredient 2]", ...);</span>
</div>
<h3>result</h3>
<p>This is the result of the crafting recipe. It can be one of the following:</p>
	<ul>
		<li>[item name]</li>
		<li>[item name]:[metadata]</li>
		<li>[item name] [quantity]</li>
		<li>[item name]:[metadata] [quantity]</li>
		<li>[alias]</li>
		<li>[alias] [quantity]</li>
	</ul>
    <p>
	<p>If quantity is not specified, 1 is used. If metadata is not specified, every metadata can be used for the recipe. The alias specifies item name and metadata.</p>
	<h3>width</h3>
	<p>This is the width of the recipe. It has to be 1, 2 or 3.</p>
	<h3>height</h3>
	<p>This is the height of the recipe. It has to be 1, 2 or 3.</p>
	<h3>ingredient</h3>
	<p>There has to be width x height ingredients. They are arranged from left to right and top to bottom. It can be one of the following:</p>
	<ul>
		<li>[item name]</li>
		<li>[item name]:[metadata]</li>
		<li>[alias]</li>
		<li>:[ore dictionary class]</li>
	</ul>
	<p>If you want to damage an item in a recipe, add a "-" right after the ingredient like this: "minecraft:pickaxe_iron-".</p>
	
<h3>Examples</h3>
<div class="code">
	<span>
		// A sapling above a dirt block -> one grass block<br />
		mod.addRecipe("minecraft:grass", 1, 2, "minecraft:sapling", "minecraft:dirt");<br />
		<br />
		// An oak sapling above a dirt block -> three grass blocks<br/>
		mod.addRecipe("minecraft:grass 3", 1, 2, "minecraft:sapling:0", "minecraft:dirt");<br />
		<br />
		// The same as the first example but uses aliases<br />
		mod.addAlias("minecraft:grass", "grass");<br />
		mod.addAlias("minecraft:dirt", "dirt");<br />
		mod.addAlias("minecraft:sapling", "sapling");<br />
		mod.addRecipe("grass", 1, 2, "sapling", "dirt");<br />
	</span>
</div>
<br />
<hr />
<h2>Shapeless Recipes</h2>
<p>To create a shapeless crafting recipe, you have to add a single line to your mod.js file:</p>
<div class="code">
	<span>mod.addShapelessRecipe("[result]", "[ingredient 1]", "[ingredient 2]", ...);</span>
</div>
<h3>Examples</h3>
<div class="code">
	<span>
		// A sapling and a dirt block -> one grass block<br />
		mod.addShapelessRecipe("minecraft:grass", "minecraft:sapling", "minecraft:dirt");<br />
		<br />
		// A oak sapling and a dirt block -> one grass block<br />
		mod.addShapelessRecipe("minecraft:grass", "minecraft:sapling:0", "minecraft:dirt");<br />
		<br />
		// The same as the first example but uses aliases<br />
		mod.addAlias("minecraft:grass", "grass");<br />
		mod.addAlias("minecraft:dirt", "dirt");<br />
		mod.addAlias("minecraft:sapling", "sapling");<br />
		mod.addShapelessRecipe("grass", "sapling", "dirt");<br />
		<br>
		// Create a cobblestone with a stone and a pickaxe but only damage the pickaxe<br>
		mod.addShapelessRecipe("minecraft:cobblestone", "minecraft:stone", "minecraft:iron_pickaxe-");<br>
	</span>
</div>
<br />
<hr />
<h2>Removing Recipes</h2>
<p>To remove a recipe, you have to add a single line to your mod.js file. Do not add a "-" for damageable items:</p>
<div class="code">
	<span>
		// Removes a shaped recipe<br />
		mod.removeRecipe("[result]", [width], [height], "[ingredient 1]", "[ingredient 2]", ...);<br />
		<br />
		// Removes a shapeless recipe<br />		
		mod.removeShapelessRecipe("[result]", "[ingredient 1]", "[ingredient 2]", ...);
	</span>
</div>