body {
	background-color: lightgray;
	font-family: verdana, tahoma,  arial, sans-serif;
	font-size: 13px;
}

div#main {
	margin: 0px auto;
	min-width: 800px;
	max-width: 1600px;
	width: 98%;
}

div#bodyWrapper {
	clear: both;
	position: relative;
	width: 100%;

}

div#navi {
	background-color: #a8a8a8;
	border-radius: 5px;
	text-align: left;
	width: 200px;
	/*float: left;*/
	position: absolute;
	font-size: 16px;
	margin-right: 15px;
	display: inline;
	left: 0px;
}

ul#naviList {
	font-size: 0.91em;
	float: left;
	width: 100%;
	margin: 0;
	padding: 0;
	border: 1px;
}

ul#naviList li {
	
	list-style: none;
	margin: 0;
	padding: 0.25em;	
}

ul#naviList a {
	border-radius: 5px;
	display: block;
	padding: 0.2em;
	font-weight: bold;
	text-decoration: none;
	background-color: #eee;
	border: 1px solid #999;
}

ul#naviList a:link {
	color: #222;	
}

ul#naviList a:visited {
	color: #222;
}

ul#naviList a:hover {
	color: black;
	background-color: white;
}

ul#naviList a:active {
	color: white;
	background-color: gray;
}

ul#naviList li.inner {
	list-style: none;
	margin: 0;
	padding: 0.5em;
	padding-left: 1.5em;
}

div#content {
	margin-left: 215px;
	border-radius: 5px;
	background-color: white;
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	border: 1px solid #888;
}

div.code, span.code
{
	padding: 5px;
	background: #f8f8f8;
	border: 1px solid #c9c9c9;
	overflow: auto;
	margin-left: 20px;
	margin-right: 20px;
	margin-top: 5px;
	font-size: 14px;
	line-height: 140%;
}

table.csTable {
	border-collapse: collapse;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	text-align: center;
}

table.csTable tr, td, th {
	border-width: 1px;
	border-style: solid;
	border-color: black;
}