<h1>Tile Entities</h1>

<h2>Tile Entity Types</h2>
<ul>
	<li>chest</li>
	<li>chestBlock</li>
	<li>furnace</li>
	<li>normal</li>
</ul>
<br>
<h2>Attribute Reference</h2>
<h3>All tile entities</h3>
<ul>
	<li><a href="tileEntity/name.html">name</a></li>
	<li><a href="tileEntity/onUpdate.html">onUpdate</a></li>
</ul>
<h3>Chest</h3>
<ul>
	<li><a href="tileEntity/colLength.html">colLength</a></li>	
	<li><a href="tileEntity/rowLength.html">rowLength</a></li>
</ul>
<h3>Furnace</h3>
<ul>	
	<li><a href="tileEntity/onItemSmelted.html">onItemSmelted</a></li>
	<li><a href="tileEntity/ticksToSmelt.html">ticksToSmelt</a></li>
	<li><a href="tileEntity/usedFuelLists.html">usedFuelLists</a></li>
	<li><a href="tileEntity/usedRecipeLists.html">usedRecipeLists</a></li>
</ul>