<h1>Tutorial</h1>
<p>In this tutorial you will learn the basics of Custom Stuff 2. Step by step you are going to create a
 mod that uses many features available in Custom Stuff 2.</p>
<ol>
	<li><a href="tutorial/introduction.html">Introduction</a></li>
	<li><a href="tutorial/createMod.html">Creation of a Custom Stuff mod</a></li>
	<li><a href="tutorial/block.html">Creation of a block</a></li>
	<li><a href="tutorial/worldGen.html">Adding the block to the world generation</a></li>
	<li><a href="tutorial/item.html">Creating an item</a></li>
	<li><a href="tutorial/smeltRecipe.html">Adding a smelting recipe</a></li>
	<li><a href="tutorial/tools.html">Creation of tools</a></li>
</ol>