<h1>World Generators</h1>
<h2>World Generator Types</h2>
<ul>
	<li>flower</li>
	<li>ore</li>
</ul>
<br>
<h2>Attribute Reference</h2>
<h3>All world generators</h3>
<ul>
	<li><a href="worldGen/allowedBiomes.html">allowedBiomes</a></li>
	<li><a href="worldGen/block.html">block</a></li>
	<li><a href="worldGen/blockMeta.html">blockMeta</a></li>
	<li><a href="worldGen/endReplacedBlocks.html">endReplacedBlocks</a></li>
	<li><a href="worldGen/generateInEnd.html">generateInEnd</a></li>
	<li><a href="worldGen/generateInNether.html">generateInNether</a></li>
	<li><a href="worldGen/generateInOverworld.html">generateInOverworld</a></li>
	<li><a href="worldGen/generationsPerChunk.html">generationsPerChunk</a></li>
	<li><a href="worldGen/maxHeight.html">maxHeight</a></li>
	<li><a href="worldGen/minHeight.html">minHeight</a></li>
	<li><a href="worldGen/netherReplacedBlocks.html">netherReplacedBlocks</a></li>
	<li><a href="worldGen/overworldReplacedBlocks.html">overworldReplacedBlocks</a></li>
</ul>
<h3>Flower</h3>
<ul>
	<li><a href="worldGen/blockRate.html">blockRate</a></li>
</ul>
<h3>Ore</h3>
<ul>	
	<li><a href="worldGen/numberOfBlocks.html">numberOfBlocks</a></li>	
</ul>